/* #####  RESPONSIVE - inicio  ############################################################################################################ */

@media (max-width: 1270px){

/*HEADER*/

#segundo {
	grid-template-columns: 18% 64% 18%;

}



}

/*####################################################################################################################################*/
@media (max-width: 1230px){

/*HEADER*/
#segundo {
	grid-template-columns: 18% 64% 18%;

}

/*PÁG INICIO*/
.fondoInicio {
padding-top:2em;
}

.logos {
	height: 90%;
	width: auto;
	
}


}
/*####################################################################################################################################*/
@media (max-width: 1150px){

/*HEADER*/





#nave nav a {
font-size: 0.7em;
}

/*PÁG INICIO*/
.logos {
	height: 83%;
	width: auto;	
}

.fondoInicio {
padding-top:2em;
}

/*PÁG CUENTA*/

#cuenta img {
	
	background-color: #ffffff;
	padding-top: 5em;
	padding-bottom: 5em;
}




}
/*####################################################################################################################################*/
@media (max-width: 1070px){

/*HEADER*/
#segundo {
	grid-template-columns: 20% 60% 20%;

}

.logos {
	height: 85%;
	width: auto;
	
}


#tituloSec {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-size: 23px;
	padding-top:  10px;
	display: block;
	z-index: 99;
	
}

.tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 60%;

}

#nave nav a {
font-size: 0.8em;
}

#nave nav a:hover {
	font-size: 0.8em;

}



/*PÁG INICIO*/
.fondoInicio {
padding-top:1.5em;
}
#sliderTa{
	width: 100%;
}

#slider {
	width: 90%;
}


/*PÁG CUENTA*/
.cuentaCuento, .datosRegistro  {
	width: 90%;
}



}
/*####################################################################################################################################*/
@media (max-width: 1024px){

/*HEADER*/
#segundo {
	grid-template-columns: 20% 60% 20%;

}


#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-size: 0.9em;
}

#nave nav a {
font-size: 0.8em;
}

#nave nav a:hover {
	font-size: 0.8em;

}

/*PÁG INICIO*/
.fondoInicio {
padding-top:1em;
}

#sliderTa {
	width: 100%;
}

.logos {
	height: 80%;
	width: auto;
	
}


/*PÁG CUENTA*/



}
/*####################################################################################################################################*/
@media (max-width: 991px){




#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-size: 0.87em;
}
#nave nav a:hover {
	font-size: 0.87em;

}

/*PÁG INICIO*/
.fondoInicio {
padding-top:1em;
}

.logos {
	height: 75%;
	width: auto;
}

#sliderTa{
	width: 100%;
}


/* PAG CUENTA */



}
/*####################################################################################################################################*/
@media (max-width: 940px){

/*HEADER*/
#segundo {
	grid-template-columns: 18% 64% 18%;

}

#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-size: 0.87em;
	
}

#nave nav a {
font-size: 0-7em;
}

#nave nav a:hover {
	font-size:  0.7em;
}

/*PÁG INICIO*/
.fondoInicio {
padding-top:0;
}

.logos {
	display:none;	
}


/*PÁG CUENTA*/



#cuenta img {
	
	background-color: #ffffff;
	padding-top: 6em;
	padding-bottom: 6em;
}



/*PÁG FOOTER*/


.copy__copyTexto {
	font-size: 1em;
}

}

/*####################################################################################################################################*/
@media (max-width: 918px){
#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	font-size: 0.85em;
	
}

.imgCuentame {
border: 0px solid;
}

#cuenta img {
	background-color: inherit;
	background-image: url("./img/str.png");
	background-size: cover;
	padding-top: 8em;
	padding-bottom: 8em;

}

}


/*####################################################################################################################################*/
@media (max-width: 890px){



/*BODY*/




/*HEADER*/

#segundo {
	grid-template-columns: 17% 66% 17%;

}

#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-size: 0.8em;	
}



#nave nav a {
font-size: 0.8em;
}

#nave nav a:hover {
	font-size:  0.8em;
}


/*PAG INICIO*/
.logos {
	display:none;	
}

#sliderTa{
	width: 100%;
}

#slider {
	width: 90%;
}

#tarjetas {
	width: 90%
}


/*PAG CUENTA*/
#cuenta img {
	background-color: inherit;
	background-image: url("./img/str.png");
	background-size: cover;
	padding-top: 12em;
	padding-bottom: 12em;

}

#cuenta {	
	width: 100%;
}

#formuEspacio > div >label {
	font-size: 1.1em;
}
 


 .pp ul {
	font-size: 1.1em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 1.1em;

}


.conta__contaLink__contaTexto {
	font-size: 1em;
}


/*FOOTER*/
.conta {
	color: #fcf8e8;
	text-decoration: none;
	font-size: 16px;
}

.copy__copyTexto {
  margin: 0px;
  font-size: 0.8em;
}



}


/*####################################################################################################################################*/
@media (max-width: 843px){
#tituloSecu {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	font-size: 0.75em;	
}

#slider {
	width: 90%;
}


}



/*####################################################################################################################################*/
@media (max-width: 766px){
#segundo {
	grid-template-columns: 20% 60% 20%;

}

#tituloSecu {
	display: none;	
}

#tituloPri{
	padding-top: 1em;
	font-size: 1.3em;
}

#cuenta img {
display: none;
}

#contCuento {
	padding: 1.5em 0em;
}

}

/*####################################################################################################################################*/
@media (max-width: 732px){

/*BODY*/


#segundo{
	grid-template-columns: 20% 60% 20%;
}

#tituloPri{
	padding-top: 1em;
	font-size: 1.3em;
}



#tituloSecu {
	display: none;	
}

#nave nav a {
font-size: 0.8em;
}

#nave nav a:hover {
	font-size:  0.8em;
}



/*PAG INICIO*/
.logos {
	display:none;	
}

.registrate h5 {
	font-size:1.1em;
	padding-left: 0.5em;
}

.registrate h5 a{	
	padding-left: 1em;
	font-size:1.2em;
}

#sliderTa{
	width: 100%;
}

#slider {
	width: 90%;
}



/*PAG CUENTA*/
#cuenta {	
	width: 100%;
}

#formuEspacio > div >label {
	font-size: 1.1em;
}
 
 .pp ul {
	font-size: 1.1em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 1.1em;

}



.conta__contaLink__contaTexto {
	font-size: 1em;
}


/*FOOTER*/
.conta {

	text-decoration: none;
	font-size: 1em;
}

.copy__copyTexto {
  margin: 0px;
  font-size: 0.75em;
}

#contCuento {

	padding: 40px 0;

}

}

/*####################################################################################################################################*/
@media (max-width: 671px){

#contenedorT{	
grid-template-rows: 180px 1fr auto;
}

#tituloPri{
	padding-top: 1em;
		font-size: 1.2em;
}


/*BODY*/

#cabeceraT {
	grid-template-rows:100px 80px;
	
}

#segundo{
	grid-template-columns: 50% 0% 50%;
	grid-template-rows: 40px 40px;
	grid-template-areas: 
	"nave nave nave"
	"ganadoresMes . sitios";

}






#nave nav a {
text-align: center;
border-radius: 0;
font-size: 0.85em;
line-height: 1.4em;
}

#nave nav a:hover {
	text-align: center;
	font-size: 0.9em;
}

.botonSitios, .botonGanadores {  
 font-size: 1.2em;
}

#ganadoresMes > .btn{
 	border-radius: 0;
}


#sitios > .btn{
 	border-radius: 0;
 	border-left: 0;
}


.menuUl{
	border-radius: 0;
}


/*PAG CUENTA*/
#cuenta {	
	width: 100%;
}



#formuEspacio > div >label {
	font-size: 1em;
}
 
.pp ul {
	font-size: 1em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 1em;

}


#contCuento {
	padding: 1em 1em;
}



/*FOOTER*/



.foot {
  width: 100%;
  height: 100%;
  grid-template-columns:100%;
  grid-template-rows: 30px 30px 40px;
  grid-template-areas: 
  "copy" 
  "conta" 
  "rrss"; 
   padding-bottom: 5px;
  padding-top: 5px; 
  }


.rrss__rrssLink {
  margin: auto; 

  }

.rrss__rrssLink__solo__imgFooter {
  height: 1.5em;
  margin-left: 0.6em;
  margin-right: 0.6em; 
  }

 .copy {
	display: flex;
	justify-content: center;
}

.copy--modif{
	width: 100%;
	

}
.copy__copyTexto {
  margin: 0px;
  font-size: 0.9em;
}


.rrss--modif {
  width: 100%;
 }

.conta {
	text-align: center;
}

.copy p{
	font-size: 12px;
}

#contCuento {

	padding: 40px 30;

}

}
/*####################################################################################################################################*/
@media (max-width: 515px){

/*HEADER*/


#tituloPri{
	padding-top: 1.2em;
	font-size: 1.1em;
}


.botonSitios, .botonGanadores {  
 font-size: 1.1em;
}


/*PAG CUENTA*/
#cuenta {	
	width: 100%;
}


#formuEspacio > div >label {
	font-size: 0.9em;
}
 
.pp ul {
	font-size: 0.9em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 0.9em;

}






/*FOOTER*/


.foot {
  width: 100%;
  height: 100%;
  grid-template-columns:100%;
  grid-template-rows: 30px 30px 40px;
  grid-template-areas: 
  "copy" 
  "conta" 
  "rrss"; 
   padding-bottom: 5px;
  padding-top: 5px; 
  }


.rrss__rrssLink {
  margin: auto; 

  }

.rrss__rrssLink__solo__imgFooter {
  height: 1.5em;
  margin-left: 0.6em;
  margin-right: 0.6em; 
  }

 .copy {
	display: flex;
	justify-content: center;
}

.copy--modif{
	width: 100%;
	

}
.copy__copyTexto {
  margin: 0px;
  font-size: 0.8em;
}


.rrss--modif {
  width: 100%;
 }

.conta {
	text-align: center;
}

.copy p{
	font-size: 12px;
}





}

/*####################################################################################################################################*/
@media (max-width: 450px){

/*HEADER*/

#tituloPri{
	padding-top: 1.35em;
	font-size: 1.05em;
}

.tituloPri {
	
	text-shadow:
	0 0 5px rgba(27, 139, 197, 1),
	0 0 10px rgba(23, 170, 247,1),
}

#nave nav a {
text-align: center;
border-radius: 0;
font-size: 0.8em;
line-height: 1.5em;
}

#nave nav a:hover {
	text-align: center;
	font-size: 0.8em;
}

.botonSitios, .botonGanadores {  
 font-size: 0.9em;
}

/*PAG CUENTA*/

#formuEspacio > div >label {
	font-size: 0.9em;
}
 
.pp ul {
	font-size: 0.9em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 0.9em;

}




/*FOOTER*/






 	
}
/*####################################################################################################################################*/
@media (max-width: 430px){

/*HEADER*/

#tituloPri{
	
	font-size: 1em;
}

.botonSitios, .botonGanadores {  
 font-size: 0.9em;
}

/*PAG INICIO*/


/*PAG CUENTA*/
#cuenta {	
	width: 100%;
}



/*FOOTER*/


/*PAG CUENTA*/

#formuEspacio > div >label {
	font-size: 0.9em;
}
 
.pp ul {
	font-size: 0.9em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 0.9em;

}




/*FOOTER*/




}

/*####################################################################################################################################*/
@media (max-width: 410px){

/*HEADER*/




#tituloPri {
	padding-top: 1.75em;
	font-size: 0.9em;
}

#tituloSec {
	display: none;

}



#nave nav a {
text-align: center;
border-radius: 0;
font-size: 0.7em;
line-height: 1.71em;
}

#nave nav a:hover {
	text-align: center;
	font-size: 0.7em;
}





/*PAG INICIO*/



/*PAG CUENTA*/


#formuEspacio > div >label {
	font-size: 0.9em;
}
 
.pp ul {
	font-size: 0.9em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 0.9em;

}






/*FOOTER*/



}



/*####################################################################################################################################*/
@media (max-width: 370px){

/*HEADER*/

#tituloPri {

}

#tituloSec {
	display: none;

}




/*PAG INICIO*/



/*PAG CUENTA*/


#formuEspacio > div >label {
	font-size: 0.9em;
}
 
.pp ul {
	font-size: 0.9em;
}

.cuentaCuento div p {
	padding-top: 10px;	
	font-size: 0.9em;

}





/*FOOTER*/










}
/* #####  RESPONSIVE - fin  ############################################################################################################ */