/* #####  RESPONSIVE - inicio  ############################################################################################################ */

/*####################################################################################################################################*/

@media (max-width: 320px){

/*HEADER*/

		#contenedorT{	
			grid-template-rows: 340px 1fr auto;
		}

		.logos {
		display: none;
		}

		/*BODY*/

		#cabeceraT {
			grid-template-rows:100px 240px;
			grid-template-areas: 
			"fondo"			
			"segundo";
		}

		#segundo{
			grid-template-columns: 50% 50%;
			grid-template-rows: 40px 40px 40px 40px 40px 40px;
			grid-template-areas: 
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"ganadoresMes sitios";
			
		}


		#menuPrincipal { 	
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, 40px);
			margin-bottom: 0px;
		}

		#tituloSecu {
			display: none;
		}

		#nave nav a {
			border-left: none;
			border-right: none;
			border-radius: 0px 0px 10px 10px;
			font-size: 1rem;
		}

			#menuPrincipal .pq, #menuPrincipal .ini, #menuPrincipal .est, #menuPrincipal .cue, #menuPrincipal .clu {
				border-left: none;
				border-right: none;

			}

			.botonSitios, .botonGanadores {
			font-size: .7rem;
			border-left: 0;
			}

		#sitios > .btn, #ganadoresMes > .btn {
			border-radius: 0px 0px 10px 10px;
		}

		#fondo {
			background-size: 70%;
		}

		#tituloPri {	
			padding-top: 2em;	
		}

		.tituloPri {
			font-size: 2.5rem;
		}

		#tituloSec {
			display: none;
		}

		/*PAG INICIO*/

		.fondoInicio {
			margin: 0 0 20% 0;	
		}

		#slider, #tarjetas, #sliderTa {
			padding: 1.5em 1em;
			width: 90%;
		}

		.menuMedio2  nav{
			display: block;
			margin: .5em 0 2em 0;
		}
		.menuMedio2  nav a {
			font-size: 1rem;			
		}

		.sliderTa {
			background-size: 70%;
			
		}

		#sliderTa #carouselExampleFade {
			width: 90%;
		}

		#registrate1 h4, #registrate2 h4 {
			font-size: 1rem;							
		}

		.registrate h4{
			padding: 1em;
		}


		.regLink {
			margin: auto;
		}

		.registrate {
			width: 90%;

		}

		.carrusel{
			width: 90%;
		}

		.menuMedio2{
		width: 90%;	
	}

/*PAG PORQUE*/

	.fondoPorque {
		margin-top: 20%;
	}

	#acerca {
		width: 90%;
	}

	.estructura3I, .estructura4I, .estructura5I, .estructura6I {
		padding: 1em 0 1em 0;
		background-image: none;
	}

	
	.por h4 {
		font-size: 1.2rem;	
		margin: .5em;
	}



/*PAG ESTANTERIA*/
	.fondoEstanteria {	
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
		grid-template-areas:
		"cuentosLeer" 
		"cuentosVideo" 
		"cuentosGanadores"
		"menuMedio3";
		margin: 20% 0 20% 0;	
	}	

	#cuentosLeer, #cuentosGanadores, #cuentosVideo {	
		padding: 0 1em 0 1em;
	}

	#leerIndice, #ganadoresIndice  { 
		grid-template-columns: 80% 20%;	
	}

	#leerIndice article, #ganadoresIndice article {
		width: 100%;
	}    

		.centroV {
			font-size: 1.5rem;
		}

	.botonCuento {
		width:70%;	
	}

	.bo p{	
		font-size: .8rem;
	}

	.t > p, .t > h6 {
		font-size: 1rem;
	}

	#cuentosGanadores .botonCuento p:hover, #leerIndice .botonCuento p:hover {
			transform:scale(1.2);
	}

	#cuentosVideo {
		margin: 5% 0 5% 0;			
	}

	#videos { 
		width: 100%;
		justify-content: inherit;
	}

		.videTitulo p {
			font-size: 1rem;
			text-align: center;
			padding: 1em 0 1em 0;
		}			

	
	.menuMedio3  nav{
			display: block;
			margin: .5em 0 2em 0;
		}
		.menuMedio3  nav a {
			font-size: 1rem;
		}

		.menuMedio3 {
		width: 90%;	
	}

	.modal-content .modal-header {
		background-size: 90%;
	}

/*PAG CUENTA*/

.fondoCuenta {
	margin: 20% 0 20% 0; 
}

#cuentaCuento, #datosRegistro {	
	width: 90%;	
}

 .instrucciones {	
		margin: 0 1em .8em 1em;
		padding: 0;
}

.cuentaContenido .alinCentro {
	margin: 2em 1em;
}

.alincentro h4, .instrucciones p {
	font-size: 1.1rem;	
}

#cuenta img {
		display: none;

	}

		#formuEspacio > div >label {
			font-size: 1rem;
		}

		.pp ul {
			font-size: 1rem;
		}

		.cuentaCuento div p {
			padding-top: 10px;	
			font-size: 1rem;

		}


		#contCuento {
			padding: 1em 1em;
		}

	.menuMedio4 {
		width: 90%;
		}

	.menuMedio4  nav{
		display: flex;
		flex-direction: column;
		height:6em;
		margin: .5em 0 0 0;
		padding: 0;
	}
	.menuMedio4  nav a {
		font-size: 1.1rem;
		height: 2em;
		margin-bottom: auto;
		margin-top: auto;
	}

/*PAG CONTACTO*/

	#imgCtc{
		display: none;
	}

	#formu {
		position: inherit;
		padding: 2em 0 2em 0;
		background-color: #fcf8e8;
		border-radius: 10px;
		border: 2px solid #3394F3;
		width: 90%;
		margin: 5% 0 0 0;
	}

	#contContenido {
		width: 90%;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		padding: 0;
		margin-right: auto;
		margin-left: auto;
	}


	/*FOOTER*/

		#donde h5 {
			font-size: .8rem;
	}

		.rayuela{
			width: 100%;
		}


		.foot {
			width: 100%;
			height: 100%;
			grid-template-columns:100%;
			grid-template-rows: 25px 25px 50px;
			grid-template-areas: 
			"copy" 
			"conta" 
			"rrss";  
		}
		.foot--modif {
			border-top:0;
			height: 100px;
			padding-bottom: 10px;
			padding-top: 5px; 
		}

		.rrss__rrssLink {
			margin: auto; 

		}

		.rrss .rrss__rrssLink .rrss__rrssLink__solo__imgFooter {
			width: 1.4em;
			margin-left: 0.6em;
			margin-right: 0.6em; 
		}

		.copy {
			display: flex;
			justify-content: center;
		}

		.copy--modif{
			width: 100%;

		}
		.foot .copy__copyTexto {
			margin-right: 0;
		}
		

		.copy__copyTexto {
			margin: 0px;
			font-size: .75rem;
			text-align: center;
		}

		.rrss--modif {
			width: 100%;
		}

		.conta {
			text-align: center;
		}

		.conta .conta__contaLink .conta__contaLink__contaTexto {
			font-size: 1rem;
		}

		.copy p{
			font-size: .9rem;
		}

	}

	/*####################################################################################################################################*/
	


	@media (min-width: 321px) and (max-width: 370px){

		/*HEADER*/

		#contenedorT{	
			grid-template-rows: 340px 1fr auto;
		}

		.logos {
		display: none;

		}

		/*BODY*/


		#cabeceraT {
			grid-template-rows:100px 240px;
			grid-template-areas: 
			"fondo"			
			"segundo";
		}



		#segundo{
			grid-template-columns: 50% 50%;
			grid-template-rows: 40px 40px 40px 40px 40px 40px;
			grid-template-areas: 
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"ganadoresMes sitios";
			line-height: 0.7em;
		}


		#menuPrincipal { 	
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, 40px);
			margin-bottom: 0px;
		}

		#tituloSecu {
			display: none;
		}

		#nave nav a {
			border-left: none;
			border-right: none;
			border-radius: 0px 0px 10px 10px;
			font-size: 1em;
		}

				#menuPrincipal .pq, #menuPrincipal .ini, #menuPrincipal .est, #menuPrincipal .cue, #menuPrincipal .clu {
			border-left: none;
			border-right: none;
		}

			.botonSitios, .botonGanadores {
			font-size: .8em;
			border-left: 0;
		}


		#sitios > .btn, #ganadoresMes > .btn {
			border-radius: 0px 0px 10px 10px;
		}

		#fondo {
			background-size: 70%;
		}

		#tituloPri {	
			padding-top: 2em;	
		}

		.tituloPri {
			font-size: 2.1em;
		}

#tituloSec {
			display: none;
		}

		/*PAG INICIO*/

		.fondoInicio {
			margin: 0 0 20% 0;	
		}

		#slider, #tarjetas {
			padding: 20px 10px;
			width: 95%;
		}

		.menuMedio2  nav{
			display: block;
			margin: 0.5em 0 2em 0;
		}
		.menuMedio2  nav a {
			font-size: 1em;
			font-weight: bolder;
		}

		#sliderTa {
			padding: 20px 10px;
			width: 95%;

		}
		#carouselExampleFade {
			width: 80%;
		}

		.registrate {
			width: 95%;
		}

		.carrusel{
			width: 90%;
		}







		/*PAG CUENTA*/
		#cuenta img {
		display: none;
	}

		#formuEspacio > div >label {
			font-size: 0.9em;
		}

		.pp ul {
			font-size: 0.9em;
		}

		.cuentaCuento div p {
			padding-top: 10px;	
			font-size: 0.9em;

		}

/*PAG CONTACTO*/

	#imgCtc{
		display: none;
	}

	#formu {
		position: inherit;
		padding: 2em 0 2em 0;
		background-color: #fcf8e8;
		border-radius: 10px;
		border: 2px solid #3394F3;
		width: 90%;
		margin: 5% 0 0 0;
	}

	#contContenido {
		width: 90%;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		padding: 0;
		margin-right: auto;
		margin-left: auto;
	}


		/*FOOTER*/


		.rayuela{
			width: 98%;
		}


	}

	/*####################################################################################################################################*/
	@media (min-width: 371px) and (max-width: 410px){

		/*HEADER*/

		#contenedorT{	
			grid-template-rows: 340px 1fr auto;
		}

		.logos {
		display: none;

	}

		/*BODY*/


		#cabeceraT {
			grid-template-rows:100px 240px;
			grid-template-areas: 
			"fondo"			
			"segundo";
		}



		#segundo{
			grid-template-columns: 50% 50%;
			grid-template-rows: 40px 40px 40px 40px 40px 40px;
			grid-template-areas: 
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"nave nave"
			"ganadoresMes sitios";
			line-height: 0.7em;
		}


		#menuPrincipal { 	
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, 40px);
			margin-bottom: 0px;
		}

		#tituloSecu {
			display: none;
		}

		#nave nav a {
			border-left: none;
			border-right: none;
			border-radius: 0px 0px 10px 10px;
			font-size: 1em;
		}

		#menuPrincipal .pq, #menuPrincipal .ini, #menuPrincipal .est, #menuPrincipal .cue, #menuPrincipal .clu {
			border-left: none;
			border-right: none;
		}

			.botonSitios, .botonGanadores {
			font-size: .8em;
			border-left: 0;
		}

		#sitios > .btn, #ganadoresMes > .btn {
			border-radius: 0px 0px 10px 10px;
		}

		#fondo {
			background-size: 70%;
		}

		#tituloPri {	
			padding-top: 2em;	
		}

		.tituloPri {
			font-size: 2.3em;
		}

		#tituloSec {
			display: none;
		}

		/*PAG INICIO*/

		.fondoInicio {
			margin: 0 0 20% 0;	
		}

		#slider, #tarjetas {
			padding: 20px 10px;
			width: 95%;
		}

		.menuMedio2  nav{
			display: block;
			margin: 0.5em 0 2em 0;
		}
		.menuMedio2  nav a {
			font-size: 1em;
			font-weight: bolder;
		}

		#sliderTa {
			padding: 20px 10px;
			width: 95%;

		}
		#carouselExampleFade {
			width: 80%;
		}

		.registrate {
			width: 95%;
		}

		.carrusel{
			width: 90%;
		}

		.registrate h5 {
			font-size:1em;

		}



		/*PAG CUENTA*/


		#formuEspacio > div >label {
			font-size: 0.9em;
		}

		.pp ul {
			font-size: 0.9em;
		}

		.cuentaCuento div p {
			padding-top: 10px;	
			font-size: 0.9em;

		}






		/*FOOTER*/



		.rayuela{
			width: 98%;
		}
	}

	/*####################################################################################################################################*/




/*####################################################################################################################################*/
	

/* #####  RESPONSIVE - fin  ############################################################################################################ */