*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none; 



}


/* ################################################################################################################################ */
/* #####           HEADER - inicio               ################################################################################## */
/* ################################################################################################################################ */

#contenedorT{	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 140px 1fr auto;
	grid-template-areas: 
	"cabeceraT cabeceraT cabeceraT cabeceraT"
	"contenidoT contenidoT contenidoT contenidoT"
	"pieT pieT pieT pieT";
	width:100%;
	background-color:#f3f3f3;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;	
}

#cabeceraT {
	grid-area: cabeceraT;
	display: grid;
	background-color: #f3f3f3;	
	grid-template-columns: 100%;
	grid-template-rows:  100px 45px;
	grid-template-areas: 
	"fondo"			
	"segundo";

}


#fondo {
	grid-template-rows:  50px 50px ;
	background-image: url("./img/44.png");
	background-size: 27%;	
	grid-area: fondo;
	display: grid;
	grid-template-areas: 
	"tituloPri"
	"tituloSecu";
	background-color: #fcf8e8;
	
	
}

#tituloPri {	
	grid-area: tituloPri;
	padding-top: 0.5em;	
}


#tituloPri a {
	text-decoration: none;
}



.tituloPri {
	color:  #fcf8e8;
	text-shadow:
	0 0 5px rgba(51, 148, 243, 1),
		0 0 5px rgba(51, 148, 243, 1),
	0 0 10px rgba(51, 148, 243,1),
	0 0 20px rgba(23, 170, 247,1),
	0 0 40px rgba(23, 170, 247,1);

	font-size: 3em;
	text-align: center;
	font-weight: 600;

	font-family: 'Kalam';

	
}

#tituloSecu {
	grid-area: tituloSecu;
	margin-top: 12px;

}

.tituloSec {	
	color:#3394F3 ;
	text-shadow:
	0 0 4px rgba(252, 248, 232, 1),
	0 0 10px rgba(252, 248, 232, 1);
	font-size: 1.5em;
	text-align: center;
	font-family: 'Chilanka', cursive;
	height: 30px;	
	font-weight: bolder;
	
	
}



/* ***** MENUS - INICIO  *********************************************************************************************************** */

#segundo {

	height: 	100%;
	width: 100%;
	grid-area: segundo;
	display: grid;
	grid-template-columns: 14% 72% 14%;
	grid-template-rows: 45px;
	grid-template-areas: 
	"ganadoresMes nave sitios";

}

.segundo {
	margin-left: auto;
	margin-right: auto;
}

#ganadoresMes { 
	grid-area: ganadoresMes;
	height: 100%;
	width: 100%;
	
}


#ganadoresMes > .btn {
	margin-bottom: auto;
	margin-top: auto;
	padding: 0px;
	border-radius:0px 0px 10px 10px;
}



.botonSitios {
	background-color:  #fcf8e8;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.7em;
	color:#F39233;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid #F39233;
	border-left: 2px solid#F39233;
}

.botonSitios:hover{
	background-color: #F39233;
	color: #FFFFFF;
}

.botonGanadores {
	background-color:  #fcf8e8;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 0.7em;
	color: #F39233;
	font-weight: bold;
	
	border-bottom: 2px solid #F39233;
	border-right: 2px solid #F39233;
}

.botonGanadores:hover{
	background-color: #F39233;
	color: #FFFFFF;
}



.menuUl{
	background-color: #F39233;
	border-radius:10px 10px 10px 10px;
	width: 98%;
}

.menuUl li a {
	color: #ffffff;
	font-size: 0.9em;
	text-align: center;
}

.menuUl h6 {
	color: #ffffff;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

#sitios { 
	grid-area: sitios;
	padding:  0px;
	height: 100%;
	width: 100%;
	

}



#sitios > .btn {
	margin-bottom: auto;
	margin-top: auto;
	padding: 0px;
	border-radius: 0px 0px 10px 10px;

}



#menuPrincipal { 	
	font-family: 'Quicksand', sans-serif;
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	text-decoration: none;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.ini {
	border-bottom: 2px solid #3394F3;
	border-right: 2px solid #3394F3;
	color: #3394F3;
	font-weight: bold;
}

.pq {
	border-bottom: 2px solid #F33394;
	border-right: 2px solid #F33394;
	color:#F33394;
	font-weight: bold;
}

.est {
	border-bottom: 2px solid #01c5c4;
	color:#01c5c4;
	font-weight: bolder;
}

.cue {
	border-bottom: 2px solid #F33394;
	border-left: 2px solid #F33394;
	color:#F33394;

	font-weight: bold;
}


.clu{
	border-bottom: 2px solid #3394F3;
	border-left: 2px solid #3394F3;
	color: #3394F3;
	font-weight: bold;
	
}



#nave nav .ini:hover {
	background-color: #3394F3;
	color: white;
	text-align: center;
}

#nave nav .pq:hover {
	background-color: #F33394;
	color: white;
	text-align: center;
}


#nave nav .est:hover {
	background-color: #01c5c4;
	color: white;
	text-align: center;
}

#nave nav .cue:hover {
	background-color: #F33394;
	color: white;
	text-align: center;
}

#nave nav .clu:hover {
	background-color: #3394F3;
	color: white;
	text-align: center;
}

#nave { 
	grid-area: nave;
	width: 100%;
	height: 100%;	
	/*	background-color: #01c5c4;*/

}

#nave nav a {
	background-color: #fcf8e8;
	border-radius: 0px 0px 10px 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	transition: all 100ms;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
	text-align: center;



}



#ini, #pq, #est, #cue, #clu {
	
	font-family: 'Quicksand', sans-serif;

}

/* *****   MENUS - fin   *********************************************************************************************************** */

/* #####   HEADER - fin       ###################################################################################################### */




/* ################################################################################################################################ */
/* #####            MAIN - inicio            ###################################################################################### */
/* ################################################################################################################################ */


#contenidoT{
	grid-area: contenidoT;
	font-family: 'Quicksand', sans-serif;	
}

/* ***** INDEX - inicio ************************************************************************************************************ */



.fondoInicio {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:  53px auto auto auto auto auto; 
	grid-template-areas:
	"contendedorLogos"
	"slider" 
	"registrate1"
	"sliderTa"
	"registrate2"
	"tarjetas";   
	margin: 5% 0 5% 0;	
}

#contendedorLogos {
	grid-area: contendedorLogos;
	height:100%;
	display: flex;
}

.logos {
	height: 90%;
	width: auto;
	margin-top: auto;	
	margin-left: auto;
	margin-right: auto;
}

#slider {
	grid-area: slider;
	width: 85%;
	margin-left: auto;
	margin-right: auto;	
	background-color: #3394F3;
	border-radius: 15px 15px 0 0;
	padding: 50px;
	display: flex;

}



.menuMedio2{
	width: 85%;	
	margin: 2% auto 2% auto;	
	
}

.carrusel{
	border: 2px solid #FFFFFF;	
	width: 85%;
	margin: auto;
}



#registrate1{
	grid-area: registrate1;	
	
	
}


#registrate1 h5{
		color: #F39233;		
}

#registrate2{
	grid-area: registrate2;
}

#registrate2 h5{
		color: #F33394;		
}

.registrate {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
	background-color: #fcf8e8;
	align-items: center;
	align-content: center;



/*	box-shadow: 1px 4px 9px 2px rgba(0,0,0,0.30);*/
}

.registrate:hover {
background-color: #01c5c4;	


}

.registrate a:hover {
	color: #fcf8e8;	
}

.registrate h5 {
	font-size: 1.3em;
		padding-left: 10px;
		font-weight: bolder;
			padding-top: 10px;
		padding-bottom: 10px;
}

.registrate h5 a{
	color:  #3394F3;
	padding-left: 15px;
	text-decoration: none;
	font-size:1.2em;
	padding-right: 10px;
	text-shadow:
	0 0 5px rgba(244, 160, 77, 1),
	0 0 10px rgba(244, 160, 77, 1),
	0 0 20px rgba(244, 160, 77, 1),
	0 0 40px rgba(244, 160, 77, 1),
	0 0 40px rgba(244, 160, 77, 1),
}

#sliderTa {
	grid-area: sliderTa;
padding: 50px 0 50px 0;
	margin: auto;	
	border-radius: 15px 15px 0 0;
	width: 85%;

}

#carouselExampleFade {
	border: solid #FFFFFF;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.sliderTa {
background-image: url("./img/fondorayas.png");
	 	background-position: -30%;
background-size: 40%;
background-repeat: repeat;
}

.sliderImg {
	display: flex;
	align-items: stretch;
}

.sliderImg div img {
	width:20%;
	height: auto;
}

.slidertImg {
	display: flex;
	align-items: stretch;
}

.slidertImg div img {
	width:auto;
	height: 20%;
}



#tarjetas {
	grid-area: tarjetas;
	width: 85%;
	margin-left: auto;
	margin-right: auto;	
	background-color: #3394F3;
	border-radius: 0 0 15px 15px;
	padding: 50px;
	display: flex;

}





/* ******** INDEX - final ********************************************************************************************************** */
.prueba1C {
	font-size: 1.2rem;
	font-weight: 550;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	background-size: 49% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.prueba2R {
	padding: 1.618em 1.618em 1.618em 50%;
	background-position: 0 50%;

}

.prueba3I {
	background-color: #fcf8e8;
	color: #3394F3;
	border: 2px solid #3394F3;
	background-image: url("./img/7.png");
	background-position:15% 80%  ;
	background-size: 38%;
	border-radius:15px;	
}

.prueba2L {
	padding: 1.618em 50% 1.618em 1.618em;
	background-position: 100% 50%;
}

.prueba4I {
	background-color: #fcf8e8;
	color: #3394F3;
	border: 2px solid #3394F3;
	background-image: url("./img/p.png");
	
	background-size: 40%;
	background-position: 80% 30%;
	border-radius:15px;
}

.prueba5I {
		background-color: #fcf8e8;
	color: #3394F3;
	border: 2px solid #3394F3;
	background-image: url("./img/3.png");
	border-radius:15px;
	background-size: 40%;
	background-position: 20% ;
}

.prueba6I {
		background-color: #fcf8e8;
	color: #3394F3;
	border: 2px solid #3394F3;
	background-image: url("./img/t.png");
	  background-repeat: no-repeat;
	background-size: 42%;
	background-position: 80% 20%;
	border-radius:15px;	
}




.separator {

	text-align: center;
		cursor: pointer;
	justify-content: center;
	align-items: center;	

}
.menuMedio nav{
	width: 100%;
}

.separator nav {
	display: grid;
	grid-template-columns: calc(95%/3) calc(95%/3) calc(95%/3);
	height:4em;
	width: 100%;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	text-decoration: none;
	justify-content: space-between;
	}

.separator nav a {

display: flex;
	flex-direction: row;
border-radius: 7px;
width: 100%;
font-family: 'Quicksand', sans-serif;
font-size: 1.2rem;	
	
height:2em;
justify-content: center;
	align-items: center;
	align-content: center;
	transition: all 100ms;

	color:  #FFFFFF;
	margin: auto;
	text-decoration: none;
	text-transform: uppercase;
}

.separator nav a:nth-child(1) {
	background-color: #F39233;
	border: 1px solid #F39233;
	

}



.separator nav a:nth-child(2) {
	background-color: #01c5c4;
		border: 1px solid #01c5c4;
	
}

.separator nav a:nth-child(3) {
	background-color: #F33394;
	border: 1px solid #F33394;
	color: #fcf8e8;
	
}


/* ******** PORQUE - inicio ******************************************************************************************************** */
.fondoPorque {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"acerca acerca acerca"
	"acerca acerca acerca"
	"mapa1 mapa1 mapa1";
	margin: 5% 0 5% 0;	

}



#acerca {
	grid-area: acerca;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 1fr; 
	grid-template-rows: 6fr;
	grid-template-areas:
	"por"
	"por"
	"por"
	"por"
	"por"	
	"por";
	
}

.mapa1{
	grid-area: mapa1;
	width: 100%;
	margin-top: 3em;
}

.por {
	grid-area: por;
}

.por h4 {
	border-radius:10px 10px 10px 10px;
	text-align: center;
	padding: 0.3em 0;


}

.quienes {
background-color: #3394F3;
	margin: 0.5em 1.618em;
	font-size: 1.2em;

	color: #fcf8e8;

}



.por p {
	padding: 7px;
	text-align: justify;
	margin: 0em 2em;
	
}
/* ***** PORQUE - final ********************************************************************************************************** */


/* ***** ESTANTERIA - Inicio  **************************************************************************************************** */

.fondoEstanteria {	
	display: grid;
	grid-template-columns: 35% 30% 35%;
	grid-template-rows: auto auto;
	grid-template-areas:
	"cuentosLeer cuentosVideo cuentosGanadores"
	"menuMedio3 menuMedio3 menuMedio3";
		margin: 5% 0 5% 0;	

}



.menuMedio3{
	grid-area: menuMedio3;
	width: 85%;
	margin: 2% auto 2% auto;
}

#cuentosLeer {
	grid-area: cuentosLeer;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100%; 
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"tituloLeerIndice"
	"leerIndice";
	padding-left: 30px;
	padding-right: 30px;	

}



#tituloLeerIndice {
	grid-area: tituloLeerIndice;
	text-align: center;	
	background-color:  #f39233;
	height: 100%;
	font-size: 0.9em;
	display: flex;
	align-items: center;
	border-radius:15px 15px 0px 0px;

}

#leerIndice { 
	grid-area: leerIndice;
	width: 100%;
		border-radius:0px 0px 15px 15px;
	background-color: #fcf8e8;
	border: 2px solid #f39233;
		
	display: grid;
	grid-template-columns: 70% 30%; 
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:	
	"article article" 
	"article article"
	"article article"
	"article article" 
	"article article"
	"article article";
	grid-gap: 5px;
	padding: 15px 10px;
	align-items: center;
	justify-items: center;
	justify-content: center;
}




/*.tarjetaCuento:hover img {
	animation: move 300ms linear;
	animation-duration: 5s;

}*/

.botonCuento p{
	color: #3394F3;
}

#cuentosVideo {
	grid-area: cuentosVideo;
	width: 100%;
	display: grid;
	grid-template-columns: 100%; 
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"tituloVideoFabulas"
	"videos";
	padding-left: 15px;
	padding-right: 15px;
}


#tituloVideoFabulas {
	grid-area: tituloVideoFabulas;
	text-align: center;	
	background-color:  #01c5c4;
	font-size: 0.9em;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius:15px 15px 0px 0px;	
}

.centroV {
	margin:auto;
	color: #fcf8e8;
	font-size: 1.8em;
}

#videos { 
	grid-area: videos;
	width: 100%;
	background-color: #fcf8e8;
	border:2px solid #01c5c4;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
	"article"
	"article"
	"article"
	"article"
	"article" 
	"article";
	align-content: space-between;
	justify-content:  center;	
	grid-gap: 15px;
	padding: 25px 20px;
	border-radius:0px 0px 15px 15px;

}

.videoCont {
	width: 100%;	
}

.video{
	width: 100%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#videos article {	
	width: 100%;
	border: 1px solid #01c5c4;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;	
	background-color: #fcf8e8;
	display: grid;
	grid-template-rows: 80% 20%;

}



#cuentosGanadores { 
	grid-area: cuentosGanadores;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100%; 
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"tituloIndice"
	"ganadoresIndice";
	padding-left: 30px;
	padding-right: 30px;
}

#tituloIndice {
	grid-area: tituloIndice;
	text-align: center;	
	background-color:  #F33394;
	font-size: 0.9em;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius:15px 15px 0px 0px;		
}

#ganadoresIndice { 
	grid-area: ganadoresIndice;
	width: 100%;
	background-color: #fcf8e8;
	border: 2px solid #F33394;
	display: grid;
	grid-template-columns: 70% 30%; 
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:	
	"article article" 
	"article article"
	"article article"
	"article article" 
	"article article"
	"article article";
	grid-gap: 5px;
	padding: 15px 10px;
	align-items: center;
	justify-items: center;
	justify-content: center;
	border-radius:0px 0px 15px 15px;

}


#ganadoresIndice article {
	width: 80%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
	justify-items: center;

}

#ganadoresIndice .tarjetaCuento{
	border: 1px solid #F33394;
}

#leerIndice article {	
	width: 80%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
	justify-items: center;

}

#leerIndice .tarjetaCuento{
	border: 1px solid #f39233;
}

.imagen {
	width: 100%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}


.tarjetaCuento {	
	background-color: #fcf8e8;
	border-radius: 4px;
}







.t > p{
	text-align: justify;
	font-size: 0.6em;
	padding-right:6px;
	padding-left: 6px;
	margin-block-end: 0.2em;
	margin-block-start: 0.2em;
}



.botonCuento{
	width:75%;	
	background-color: #fcf8e8;
	border:0px;
	border-radius:50%;
	align-items: center;
	justify-items: center;
	padding:0px;
	justify-content: center;
}

.bo{
	padding: 0px;
}


.botonCuento p{	
	font-size: 1em;
	justify-content: center;
	text-align: center;
	align-self: center;
	font-family: 'Indie Flower', cursive;
	font-weight: 600;
	text-decoration: none;
}




.btn-check:focus+.btn, .btn:focus {
	box-shadow: 0 0 0 0.0rem #fcf8e8;
}


#leerIndice .botonCuento:hover {
	border-radius:50%;
	box-shadow: 0px 0px 15px 7px #f39233;
	transform:scale(1.25);

}


#cuentosGanadores .botonCuento:hover {
	border-radius:50%;
	box-shadow: 0px 0px 15px 7px #F33394;
	transform:scale(1.25);

}

.t > h6 {
	margin-top: 5px;
	text-align: center;
	font-size: 0.8em;
	justify-content: center;

}


/*modal*/

.modal-content {
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	background-color: #f3f3f3;
}

.modal-header{
	background-image: url("./img/44.png");
	background-size: 27%;

	background-color: #fcf8e8;
	color: #3394F3;
	font-family: 'Chilanka', cursive;

}

.modal-title {
	font-size: 1.5em;
	-webkit-text-stroke: 0.5px #3394F3;
	font-weight: 600;
	width: 100%;
		
}

.modal-footer{
background-color: #3394F3;

}

.modal-footer button{

	background-color: #fcf8e8;
}

.modal-footer div{
	text-align: left;
	font-weight: 600;
	color: #fcf8e8;
	font-family: 'Quicksand', sans-serif;
	padding-right: 1em;
}


.modal-footer > .btn{
	color: #3394F3;
}


/* ***** ESTANTERIA -  final ***************************************************************************************************** 



/* *****  CUENTA - Inicio   ****************************************************************************************************** */
.fondoCuenta {	
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-areas:
	"cuentaCuento"	
	"datosRegistro"
	"menuMedio1";
	align-items: center;
	justify-items: center;
	width: 100%;
	margin: 5% 0 5% 0;	
}




#cuentaCuento {
	grid-area: cuentaCuento;
	width: 85%;

}

#cuenta img {
	width: 100%;


}
#cuenta{
	background-color: #3394F3;
	border-radius: 15px;
	display: flex;
	margin: auto;
	font-size: 1.2em;
	
	
}

.imgCuentame {
background-color: #ffffff;
	background-size: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius:15px;

	overflow: hidden;
	display: inline-block;
	
}




.cuentaContenido {
	text-align: justify;

	color: #fcf8e8;

	font-family: 'Quicksand';	
}


.alinCentro {
	background-color: #fcf8e8;
	display: flex;
	border-radius: 10px;
	padding: 0.5em 0 0.5em 0;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;


}

.cuentaContenido h4{
	margin: auto;
	font-weight: bold;
	color: #3394F3;
	font-size: 1.3em;
	text-align: center;
}

.instrucciones {
	padding: 2em;
	font-size: 1.12em;
}


.pp ul li{	
	text-align: justify;
	color: #fcf8e8;
	font-family: 'Quicksand';
	font-size: 1.2rem;
}

.pp a {
	font-weight: 600;
	text-decoration: none;
}





#datosRegistro {
	grid-area: datosRegistro;
	width: 85%;
	background-color: #f3f3f3;
	background-image: url("./img/5.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 50% 12%;
	border: 2px solid #3394F3;
	border-radius: 15px;
	margin-top: 5%;
}

.cajaForm{
	background-color: #fcf8e8;
	opacity: 0.5;
}

#formuEspacio {
	margin-top: 25%;
	width: 100%;
	color: #3394F3 ;
	font-size: 1.1rem;
	font-family: 'Quicksand';
}

#contCuento {
	padding: 2em 2em;
	color: #3394F3;
	font-family: 'Quicksand';
	font-size: 1.1rem;
	background-image: url("./img/ch.png");
}


#contCuento h4{
	margin: auto;
	color: #fcf8e8;
}


.alinCentro1 {
	background-color: #3394F3;
	display: flex;
	border-radius: 10px;
	padding: 0.5em 0 0.5em 0;
}


#botonCuenta {
	display: flex;
	margin-top: 2em;
}

.botonTexto {
		background-color: #3394F3;
	color: #FFFFFF;
	font-family: 'Quicksand';
	margin: auto;
	width: 30%;

}
.menuMedio4{
	width: 85%;
margin: 2% auto 2% auto;
}

/* *****  CUENTA -  final   ****************************************************************************************************** */


/* *****  CLUB - Inicio     ******************************************************************************************************** */
.fondoClub {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	grid-template-areas:
	"club tablaGanadores";	
	margin: 5% 0 5% 0;	
}



#club {
	grid-area: club;	
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"inscribete"
	"datosRegistros";
	justify-items: center;	
	

}


#imgClub{
	width: 100%;
}

#inscribete {
grid-area: inscribete;
	width: 85%;
text-align: justify;
background-color: #fcf8e8;
border: 2px solid #3394F3;
border-radius: 15px;
font-size: 1.12em;
}

#alinCentro4 {
background-color: #3394F3;
border-radius: 10px;
margin:2em;
display: flex;
}

#inscribete h4{
padding: 0.5em 0 0.5em 0;
margin: auto;
color: #fcf8e8;
}

#instrucciones1 {
font-size: 1.12em;
color: #3394F3;
margin:2em 2em 0 2em;
}


#datosRegistros2 {
grid-area: datosRegistros;
width: 85%;
background-color: #fcf8e8;
border: 2px solid #3394F3;
border-radius: 15px;
margin-top: 5%;	
}



#alinCentro5 {
background-color: #fcf8e8;

border-bottom: 2px solid #3394F3;
margin:2em;
display: flex;
}


#alinCentro5 h4{
padding: 0.5em 0 0.5em 0;
margin: auto;
color: #3394F3;
}

#formuClub{
	margin: 0 2em 2em 2em;
	color: #3394F3;
	font-size: 1.12em;
}



#botonClub {
	display: flex;
	width: 100%;
	margin: 2em 0 0 0;
	
}

.botonTexto1 {
	background-color: #3394F3;
	color: #FFFFFF;
	font-family: 'Quicksand';
	margin: auto;

	width: 30%;
}

#tablaGanadores {
	grid-area: tablaGanadores;
	background-color: #fcf8e8;
	border: 2px solid #F39233;
	padding: 1.5em;
	border-radius: 10px;
	width: 90%;

}

#tablas {
	width: 100%;
}

#tabla{
	color: #f3f3f3;
}

#tabla tr td{
	padding-left: 2em;

}



.tituloTabla {
	font-family: 'Chilanka', cursive;
	font-size: 1.2em;
	color: #F39233;
}


.color1{
	background-color: #01c5c4;
	
	}

.color2{
background-color: #F33394;

}

.color3{
	background-color: #3394F3;
}

.animacionLetra {
	animation-duration: 5s;
	animation-name: animacionLetra;
	animation-iteration-count: infinite;
}
@keyframes animacionLetra{
	from {
		transform: rotateY(0deg);
	}
	50%{	
		transform: rotateY(180deg);
	} 
	to {		
		transform: rotateY(360deg);
	}
}

/* *****  CLUB - Fin        ******************************************************************************************************** */



/* *****  CONTACTO - Inicio  ***************************************************************************************************** */

.fondoContacto {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
	"formu";
	align-items: center;
	justify-items: center;
		margin: 5% 0 10% 0;	
}



#formu {
	grid-area: formu;
	width: 100%;	
	margin:auto;
	position:absolute; z-index:2;  top:11em;
}

#fondoCt img{
width: 70%;
}

#fondoCt {
	text-align: center;
	margin:auto;
	position:relative; z-index:1;
}

#contContenido {
	padding-top: 280px;	
	padding-bottom: 100px;
	width: 70%;
	padding-left: 50px;
	padding-right: 50px;
	color: #3394F3;
	font-family: 'Quicksand';
}

#contContenido h5 {
	text-align: center;

}


#botonContacto {
	display: flex;
	width: 100%;
	margin: 2em 0 0 0;
	
}

.botonAzul {
	background-color: #3394F3;
	color: #FFFFFF;
	font-family: 'Quicksand';
	margin: auto;

	width: 30%;
}

/* *****    CONTACTO - final ******************************************************************************************************* */




/* ######  MAIN - fin ############################################################################################################## */



/* ################################################################################################################################ */
/* ######           FOOTER - inicio           ##################################################################################### */
/* ################################################################################################################################ */

/*

#pieT {
	grid-area: pieT;
	width: 100%; 
	grid-template-rows:1fr 90px;
	grid-template-areas: 
	"mapa"
	"foot"; 
}



.mapa {
	grid-area: mapa;
	width: 100%;
	background-color: #fcf8e8;
		background-image: url("./img/44.png");
	background-size: 21%;
	border-radius:10px 10px 0 0;
	border-top: 0.2em solid #3394F3;
	width: 100%;
	align-content: center;
	justify-content: center;
	justify-self:center;
	display: flex;
	padding: 0;

}

.rayuela{
	width:50%;
	margin: auto;
}




.foot {
	display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	grid-template-areas: 
	"copy conta rrss"; 
}




.foot--modif {
	border-top: 10px solid #fcf8e8;
	height: 100px;

	background-color: #3394F3 ;
	font-family: "Quicksand", sans-serif;
	padding-bottom: 10px;
	padding-top: 10px; 
}

.copy {
	grid-area: copy;
	margin: auto; 
}

.copy--modif {
	width: 80%;
	display: flex; 
}

.copy__copyTexto {
	margin-right: auto;
	margin-bottom: 0;
	font-size: 1.1em;
	color: #FFFFFF; 
}

.conta {
	width: 100%;
	grid-area: conta;
	margin: auto; 
}

.conta__contaLink {
	text-decoration: none;
	color: #f3f3f3;
	text-align: center; 
}

.conta__contaLink__contaTexto {
	margin-bottom: 0;
	font-size: 1.4em;
	font-family: "Quicksand", sans-serif; 
}

.rrss {

	grid-area: rrss;
	margin: auto; 
}

.rrss--modif {
	width: 80%;
	display: flex; 
}

.rrss__rrssLink {
	margin-left: auto; 
}

.rrss__rrssLink__solo__imgFooter {
	height: 1.7em;
	margin-left: 0.5em; 
}


*/


/* #####  FOOTER - fin  ############################################################################################################ */


/* #####  PAGINA NO ENCONTRADA ############################################################################################################ */

#oops {
	display: grid;
	align-items: center;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"imgOops"
	"oops2";
	margin-top: 2%;
	margin-bottom: 2%;
}

.imgOops {
	grid-area: imgOops;
	margin-left: auto;
	margin-right: auto;
}

#oops2{
	grid-gap: oops2;
	text-align: center;
	margin-top: 3%;
	
}

#oops2 a {
	text-decoration: none;
	color:#F33394;
	font-size: 2em;
	font-family: 'Quicksand', 
}

/* #####  PAGINA NO ENCONTRADA- fin  ############################################################################################################ */







/* #####  RESPONSIVE - inicio  ############################################################################################################ */

/*@media (max-width: px  )*/

/* #####  RESPONSIVE - fin  ############################################################################################################ */





/* ################################################################################################################################ */
/* ######################################              PALETA COLORES Y TIPOGRAFÍA             #################################### */
/* ################################################################################################################################ */

/*	PALETA:
	AZUL OSCURO #0e49b5	#00587a		
	AZUL CLARO #6F9CDE #1B8BC5 
	MAGENTA #DE6FB8	#F7DBED													
	VERDE OSCURO #01c5c4
	VERDE CLARO #b8de6f
	BLANCO MARFIL #fcf8e8
	NARANJA OSCURO #f39233 - #db6400;
	NARANJA CLARO #f1e189
	WHITE
	

	TIPOGRAFÍA:
	font-family: 'Kalam', cursive;
	font-family: 'Indie Flower', cursive;
	font-family: 'Quicksand', sans-serif

	/*border:1px solid #ccc;



	@keyframes move {

	from{
		transform: rotateZ(10deg);
		

	}
	50%{		
		transform: scale(0.1,-1);
		opacity:0;
		filter:alpha(opacity=0);
		

	}
	100%{
		transform: rotateZ(180deg);
		opacity:0;
		filter:alpha(opacity=0); 

	}
}

*/

/* ################################################################################################################################ */


/*modal*//*
.btn-check:focus+.btn, .btn:focus {
	box-shadow: 0 0 0 0.25rem #b8de6f;
}
.modal-content {
		font-family: 'Quicksand', sans-serif;
		text-align: justify;
		background-color: #fcf8e8;
	}

.modal-header{
	background-color: #b8de6f;
	color: #0e49b5;
	font-family: 'Indie Flower', cursive;

}

.modal-title {
	font-size: 1.5em;
	font-weight: 600;
}

.modal-footer{
	background-color: #f1e189;
}

.modal-footer button{

	background-color: #f39233;
}
.modal-footer div{
	text-align: left;
	font-weight: 600;
	color: #0e49b5;
	font-family: 'Quicksand', sans-serif;
}
*/




