@charset "UTF-8";
/*VARIABLES Y MIXINs*/
/*azulCeleste*/
/*blancoN*/
/*naranja*/
/*verde*/
/*rosa*/
/*gris comodin*/
/*blanco */
/* ################################################################################################################################ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem; }

/*Arreglos por desconfiguración al insertar librerías Bootstrap*/
img {
  width: 100%;
  max-width: 100%;
  height: auto; }

p {
  padding: 0;
  margin: 0; }

/*Arreglos por desconfiguración al insertar librerías Bootstrap*/
/* */
/* */
/* */
/* ################################################################################################################################ */
/* #####           HEADER - inicio               ################################################################################## */
/* ################################################################################################################################ */
#contenedorT {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px 1fr auto;
  grid-template-areas: "cabeceraT cabeceraT cabeceraT cabeceraT" "contenidoT contenidoT contenidoT contenidoT" "pieT pieT pieT pieT";
  width: 100%;
  background-color: #f3f3f3;
  margin: 0 auto 0 auto; }

#cabeceraT {
  grid-area: cabeceraT;
  display: grid;
  background-color: #f3f3f3;
  grid-template-columns: 100%;
  grid-template-rows: 100px 45px;
  grid-template-areas: "fondo"			 "segundo"; }

#fondo {
  grid-template-rows: 50px 50px;
  background-color: #fcf8e8;
  background-image: url("./img/44.png");
  background-position: 55% -850%;
  background-size: 22%;
  animation-name: fondoAnimado;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  grid-area: fondo;
  display: grid;
  grid-template-areas: "tituloPri" "tituloSecu"; }

@keyframes fondoAnimado {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 55% -850%; } }

#tituloPri {
  grid-area: tituloPri;
  padding-top: 0.8em; }

.tituloPri {
  color: #fcf8e8;
  text-shadow: 0 0 5px #3394f3, 0 0 5px #3394f3, 0 0 10px #3394f3, 0 0 20px #17aaf7, 0 0 40px #17aaf7;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  font-family: "Kalam"; }

#tituloPri a {
  text-decoration: none; }

#tituloSecu {
  grid-area: tituloSecu;
  margin-top: 0.9em; }

.tituloSec {
  color: #3394F3;
  text-shadow: 0 0 4px #fcf8e8, 0 0 4px #fcf8e8, 0 0 6px #fcf8e8, 0 0 6px #fcf8e8, 0 0 10px #fcf8e8, 0 0 12px #fcf8e8, 0 0 12px #fcf8e8;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Chilanka", cursive;
  height: 30px;
  font-weight: bolder; }

/* ***** MENUS - INICIO  *********************************************************************************************************** */
#segundo {
  height: 100%;
  width: 100%;
  grid-area: segundo;
  display: grid;
  grid-template-columns: 14% 72% 14%;
  grid-template-rows: 45px;
  grid-template-areas: "ganadoresMes nave sitios"; }

.segundo {
  margin: 0 auto 0 auto; }

#ganadoresMes {
  grid-area: ganadoresMes;
  width: 100%;
  height: 100%; }

#sitios {
  grid-area: sitios;
  padding: 0px;
  width: 100%;
  height: 100%; }

#ganadoresMes > .btn, #sitios > .btn {
  margin: auto 0 auto 0;
  padding: 0px;
  border-radius: 0px 0px 10px 10px; }

.botonGanadores, .botonSitios {
  background-color: #fcf8e8;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #F39233;
  font-weight: bold;
  border-bottom: 2px solid #F39233; }

.botonGanadores {
  border-right: 2px solid #F39233; }

.botonSitios {
  border-left: 2px solid #F39233; }

.botonGanadores:hover, .botonSitios:hover {
  background-color: #F39233;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.menuUl {
  background-color: #F39233;
  border-radius: 10px 10px 10px 10px;
  width: 98%; }

.menuUl h6, .menuUl li a {
  color: #FFFFFF;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 0.85rem; }

.menuUl li a:hover {
  color: #F39233;
  font-size: 0.85rem;
  text-align: center;
  background-color: #FFFFFF; }

#menuPrincipal {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-decoration: none;
  height: 80%;
  margin: auto auto 0 auto; }
  #menuPrincipal .ini {
    border-bottom: 2px solid #3394F3;
    border-right: 2px solid #3394F3;
    color: #3394F3;
    font-weight: bold; }
  #menuPrincipal .pq {
    border-bottom: 2px solid #F33394;
    border-right: 2px solid #F33394;
    color: #F33394;
    font-weight: bold; }
  #menuPrincipal .est {
    border-bottom: 2px solid #01c5c4;
    color: #01c5c4;
    font-weight: bolder; }
  #menuPrincipal .cue {
    border-bottom: 2px solid #F33394;
    border-left: 2px solid #F33394;
    color: #F33394;
    font-weight: bold; }
  #menuPrincipal .clu {
    border-bottom: 2px solid #3394F3;
    border-left: 2px solid #3394F3;
    color: #3394F3;
    font-weight: bold; }

#nave {
  grid-area: nave;
  width: 100%;
  height: 100%; }

#nave nav a {
  background-color: #fcf8e8;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 100ms;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  text-align: center;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075); }

#nave nav .ini:hover, #nave nav .clu:hover {
  background-color: #3394F3;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

#nave nav .pq:hover, #nave nav .cue:hover {
  background-color: #F33394;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

#nave nav .est:hover {
  background-color: #01c5c4;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

/* *****   MENUS - fin   *********************************************************************************************************** */
/* */
/* */
/* #####   HEADER - fin       ###################################################################################################### */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* #####            MAIN - inicio            ###################################################################################### */
/* ################################################################################################################################ */
#contenidoT {
  grid-area: contenidoT;
  font-family: "Quicksand", sans-serif; }

/* ***** INDEX - inicio ************************************************************************************************************ */
.fondoInicio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 53px auto auto auto auto auto;
  grid-template-areas: "contendedorLogos" "slider"  "registrate1" "sliderTa" "registrate2" "tarjetas";
  margin: 5% 0 5% 0; }

#contendedorLogos {
  grid-area: contendedorLogos;
  height: 100%;
  display: flex; }

.logos {
  height: 90%;
  width: auto;
  margin: auto auto 0 auto; }

#slider {
  grid-area: slider;
  width: 85%;
  margin: 0 auto 0 auto;
  background-color: #3394F3;
  border-radius: 15px 15px 0 0;
  padding: 3em;
  display: flex; }
  #slider .sliderImg, #slider .slidertImg {
    display: flex;
    align-items: stretch; }
  #slider .sliderImg div img, #slider .slidertImg div img {
    width: 20%;
    height: auto; }

.carrusel {
  border: 2px solid #FFFFFF;
  width: 85%;
  margin: auto; }

#registrate1 {
  grid-area: registrate1; }

#registrate1 a, #registrate2 a {
  text-decoration: none; }

#registrate1 h4 {
  color: #F39233;
  font-size: 1.4rem; }

#registrate2 h4 {
  color: #F33394;
  font-size: 1.4rem; }

#registrate1 p, #registrate2 p {
  font-size: 1.2rem;
  color: #3394F3;
  text-shadow: 0 0 4px #fcf8e8, 0 0 8px #fcf8e8, 0 0 10px #fcf8e8, 0 0 12px #fcf8e8; }

#registrate2 {
  grid-area: registrate2; }

.registrate {
  width: 85%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #fcf8e8; }

.registrate h4 {
  font-size: 1.4rem;
  font-weight: bolder;
  text-decoration: none;
  padding: .8em 0 .8em .8em;
  margin: 0; }

#registrate1 :hover, #registrate2 :hover {
  background-color: #01c5c4;
  color: #fcf8e8;
  transition: all 100ms;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

#registrate1 p:hover {
  color: #F39233;
  text-shadow: 0 0 4px #fcf8e8, 0 0 8px #fcf8e8, 0 0 10px #fcf8e8, 0 0 12px #fcf8e8; }

#registrate2 p:hover {
  color: #F33394;
  text-shadow: 0 0 4px #fcf8e8, 0 0 8px #fcf8e8, 0 0 10px #fcf8e8, 0 0 12px #fcf8e8; }

#sliderTa {
  grid-area: sliderTa;
  padding: 3em 0 3em 0;
  margin: auto;
  border-radius: 15px 15px 0 0;
  width: 85%; }
  #sliderTa #carouselExampleFade {
    border: solid #FFFFFF;
    width: 35%;
    margin: 0 auto 0 auto; }

.sliderTa {
  background-image: url("./img/fondorayas.png");
  background-position: -30%;
  background-size: 40%;
  background-repeat: repeat; }

#tarjetas {
  grid-area: tarjetas;
  width: 85%;
  margin: 0 auto 0 auto;
  background-color: #3394F3;
  border-radius: 0 0 15px 15px;
  padding: 3em; }

.menuMedio2 {
  width: 85%;
  margin: 2% auto 2% auto; }

/* ******** INDEX - final ********************************************************************************************************** */
/* */
/* */
/* ******** PORQUE - inicio ******************************************************************************************************** */
.fondoPorque {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "acerca";
  margin: 5% 0 5% 0; }

#acerca {
  grid-area: acerca;
  width: 85%;
  margin: 0 auto 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr;
  grid-template-areas: "por" "menuMedio" "por" "menuMedio" "por" "menuMedio" "por" "menuMedio"; }

.por {
  grid-area: por;
  font-family: "Quicksand", sans-serif; }

.por h4 {
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  padding: .3em 0;
  font-size: 1.4rem; }

.quienes {
  background-color: #3394F3;
  margin: .5em 1.6em;
  color: #fcf8e8; }

.por p {
  padding: .5em;
  text-align: justify;
  margin: 0em 2em;
  font-size: 1.2rem;
  font-weight: 550; }

/* PORQUE - estructura textos*/
.estructura1C {
  text-align: justify;
  background-size: 50% auto;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.estructura2R {
  padding: 1.6em 1.6em 1.6em 50%;
  background-position: 0 50%; }

.estructura3I {
  background-color: #fcf8e8;
  color: #3394F3;
  border: 2px solid #3394F3;
  background-image: url("./img/7.png");
  background-position: 20% 70%;
  background-size: 35%;
  border-radius: 15px; }

.estructura2L {
  padding: 1.6em 50% 1.6em 1.6em;
  background-position: 100% 50%; }

.estructura4I {
  background-color: #fcf8e8;
  color: #3394F3;
  border: 2px solid #3394F3;
  background-image: url("./img/p.png");
  background-size: 35%;
  background-position: 80% center;
  border-radius: 15px; }

.estructura5I {
  background-color: #fcf8e8;
  color: #3394F3;
  border: 2px solid #3394F3;
  background-image: url("./img/3.png");
  border-radius: 15px;
  background-size: 35%;
  background-position: 20% center; }

.estructura6I {
  background-color: #fcf8e8;
  color: #3394F3;
  border: 2px solid #3394F3;
  background-image: url("./img/t.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 80% 30%;
  border-radius: 15px; }

/*menu auxilar*/
.menuMedio {
  grid-area: menuMedio; }

.menuMedio nav {
  width: 100%; }

.separator {
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center; }

.separator nav {
  display: grid;
  grid-template-columns: calc(95%/3) calc(95%/3) calc(95%/3);
  height: 4em;
  width: 100%;
  padding: .5em 0 .5em 0;
  justify-content: space-between; }

.separator nav a {
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  height: 2em;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 100ms;
  color: #FFFFFF;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase; }

.separator nav a:nth-child(1) {
  background-color: #F39233;
  border: 1px solid #F39233; }

.separator nav a:nth-child(2) {
  background-color: #01c5c4;
  border: 1px solid #01c5c4; }

.separator nav a:nth-child(3) {
  background-color: #F33394;
  border: 1px solid #F33394; }

.separator nav a:nth-child(1):hover,
.separator nav a:nth-child(2):hover,
.separator nav a:nth-child(3):hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  animation-name: horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

@keyframes horizontal {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

/* ***** PORQUE - final ********************************************************************************************************** */
/* */
/* */
/* ***** ESTANTERIA - Inicio  **************************************************************************************************** */
.fondoEstanteria {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: auto auto;
  grid-template-areas: "cuentosLeer cuentosVideo cuentosGanadores" "menuMedio3 menuMedio3 menuMedio3";
  margin: 5% 0 5% 0; }

#cuentosLeer {
  grid-area: cuentosLeer;
  display: grid;
  grid-template-areas: "tituloLeerIndice" "leerIndice"; }
  #cuentosLeer #tituloLeerIndice {
    grid-area: tituloLeerIndice;
    background-color: #F39233; }
  #cuentosLeer #leerIndice {
    grid-area: leerIndice;
    background-color: #fcf8e8;
    border: 2px solid #F39233; }

#cuentosGanadores {
  grid-area: cuentosGanadores;
  display: grid;
  grid-template-areas: "tituloIndice" "ganadoresIndice"; }
  #cuentosGanadores #tituloIndice {
    grid-area: tituloIndice;
    background-color: #F33394; }
  #cuentosGanadores #ganadoresIndice {
    grid-area: ganadoresIndice;
    background-color: #fcf8e8;
    border: 2px solid #F33394; }

#cuentosLeer, #cuentosGanadores {
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr;
  width: 100%;
  height: 100%;
  padding: 0 2em 0 2em; }

#tituloIndice, #tituloLeerIndice {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px; }

#leerIndice, #ganadoresIndice {
  border-radius: 0px 0px 15px 15px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "article article"  "article article" "article article" "article article"  "article article" "article article";
  grid-gap: .4em;
  width: 100%;
  padding: 1em .8em;
  align-items: space-between;
  justify-content: center; }

#leerIndice article, #ganadoresIndice article {
  width: 90%;
  height: auto;
  margin: .8em auto .8em auto;
  display: flex; }

#leerIndice .efecTarjeta {
  border: 1px solid #F39233; }

#leerIndice .botonCuento p:hover {
  transform: scale(1.5);
  color: #F39233;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 100ms; }

#ganadoresIndice .efecTarjeta {
  border: 1px solid #F33394; }

#cuentosGanadores .botonCuento p:hover {
  transform: scale(1.5);
  color: #F33394;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 100ms; }

.efecTarjeta {
  border: 1px solid #F39233;
  background-color: #fcf8e8;
  border-radius: 4px; }

.efecTarjeta:hover {
  transition: all 100ms;
  transform: scale(1.07);
  font-size: 0.85rem;
  font-weight: 550;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.imagen {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.t {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 .35em 0 .35em; }

.t > h6 {
  margin: auto;
  font-size: 0.85rem;
  padding-bottom: .3em;
  text-align: center; }

.t > p {
  text-align: justify;
  font-size: 0.6rem; }

.centroV {
  margin: auto;
  color: #fcf8e8;
  font-size: 1.6rem; }

.botonCuento {
  width: 75%;
  background-color: #fcf8e8;
  border: 0px;
  margin: auto;
  padding: 0px;
  justify-content: center; }

.bo {
  padding: 0px; }

.bo p {
  font-size: 0.85rem;
  text-align: center;
  font-family: "Chilanka", cursive;
  font-weight: 600;
  text-decoration: none;
  color: #3394F3; }

.efecTarjeta > .t {
  margin: .5em 0 .5em 0; }

.btn-check:focus + .btn, .btn:focus {
  /*correccion elemento bootstrap */
  box-shadow: 0 0 0 0rem #fcf8e8; }

#cuentosVideo {
  grid-area: cuentosVideo;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "tituloVideoFabulas" "videos";
  padding: 0 15px 0 15px; }

#tituloVideoFabulas {
  grid-area: tituloVideoFabulas;
  text-align: center;
  background-color: #01c5c4;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0px 0px; }

#videos {
  grid-area: videos;
  width: 100%;
  background-color: #fcf8e8;
  border: 2px solid #01c5c4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat 6, auto;
  grid-template-areas: "article" "article" "article" "article" "article"  "article";
  padding: 1em .8em;
  grid-gap: 3em;
  align-items: space-between;
  justify-items: center;
  justify-content: center;
  border-radius: 0px 0px 15px 15px; }

#videos article {
  width: 100%;
  background-color: #fcf8e8;
  border: 1px solid #01c5c4;
  border-radius: 4px;
  height: auto;
  margin: .8em auto .8em auto;
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "videoCont"			 "videTitulo";
  text-transform: uppercase; }

.videoCont {
  grid-area: videoCont;
  padding: 0; }

.video {
  width: 100%;
  height: auto;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.videTitulo {
  grid-area: videTitulo;
  color: #3394F3;
  font-weight: bold;
  margin: auto;
  text-align: center; }

.videTitulo p:nth-child(1) {
  font-size: 0.85rem;
  padding: 0 0 .1em 0; }

.videTitulo p {
  font-size: 0.85rem;
  padding-bottom: 0 0 1em 0; }

.menuMedio3 {
  grid-area: menuMedio3;
  width: 85%;
  margin: 2% auto 2% auto; }

/*modal*/
.modal-content {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  background-color: #FFFFFF; }
  .modal-content .modal-header {
    background-image: url("./img/44.png");
    background-size: 15%;
    background-color: #fcf8e8;
    color: #3394F3;
    font-family: "Chilanka", cursive; }
    .modal-content .modal-header .modal-title {
      font-size: 1.3rem;
      font-weight: bolder;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      color: #3394F3;
      width: 100%; }
    .modal-content .modal-header .modal-title p {
      font-size: 1.3rem;
      background-color: #fcf8e8;
      font-weight: bolder; }

.modal-body p {
  font-size: 1.2rem; }

.modal-footer {
  background-color: #3394F3; }

.modal-footer div {
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fcf8e8;
  font-family: "Quicksand", sans-serif;
  padding-right: 1em; }

.modal-footer button {
  background-color: #fcf8e8; }

.modal-footer > .btn {
  color: #3394F3; }

/* ***** ESTANTERIA -  final ***************************************************************************************************** 
/* */
/* */
/* *****  CUENTA - Inicio   ****************************************************************************************************** */
.fondoCuenta {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "cuentaCuento"	 "datosRegistro" "menuMedio1";
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 5% 0 5% 0; }

#cuentaCuento {
  grid-area: cuentaCuento;
  width: 85%; }

#cuenta {
  background-color: #3394F3;
  border-radius: 15px;
  display: flex;
  margin: auto;
  font-size: 1.2rem; }
  #cuenta .imgCuentame {
    background-color: #FFFFFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    display: inline-block; }

#cuenta img {
  width: 100%; }

.cuentaContenido {
  text-align: justify;
  color: #fcf8e8;
  font-family: "Quicksand", sans-serif; }
  .cuentaContenido .alinCentro {
    background-color: #fcf8e8;
    display: flex;
    border-radius: 10px;
    padding: .5em 0 .5em 0;
    margin: 2em 2em 0 2em; }

.cuentaContenido h4 {
  margin: auto;
  font-weight: bold;
  color: #3394F3;
  font-size: 1.4rem;
  text-align: center; }

.instrucciones {
  padding: 2em;
  font-size: 1.2rem; }
  .instrucciones p {
    font-size: 1.2rem; }
  .instrucciones .pp {
    background-color: #fcf8e8;
    color: #3394F3;
    font-weight: 570;
    padding: 1em;
    border-radius: 7px; }
  .instrucciones .pp p {
    padding-bottom: .4em;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .instrucciones .pp ul li {
    text-align: justify;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem; }
  .instrucciones .pp a {
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    text-decoration: none;
    color: #F39233; }

.instrucciones:nth-child(2) h5 {
  font-size: 1.3rem;
  padding: .4em 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.instrucciones p:nth-child(6) {
  padding-top: .5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

#datosRegistro {
  grid-area: datosRegistro;
  width: 85%;
  background-color: #f3f3f3;
  background-image: url("./img/5.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 12%;
  border: 2px solid #3394F3;
  border-radius: 15px;
  margin-top: 5%; }
  #datosRegistro #contCuento {
    padding: 2em;
    color: #3394F3;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem; }
    #datosRegistro #contCuento .alinCentro1 {
      background-color: #3394F3;
      display: flex;
      border-radius: 10px;
      padding: .5em 0 .5em 0; }
  #datosRegistro #contCuento h4 {
    margin: auto;
    color: #fcf8e8;
    font-size: 1.4rem; }
  #datosRegistro #formuEspacio {
    margin-top: 25%;
    width: 100%;
    color: #3394F3;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 580;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    #datosRegistro #formuEspacio .cajaForm {
      background-color: #fcf8e8;
      opacity: 0.5; }
    #datosRegistro #formuEspacio .formCaja {
      margin-top: .6em; }
    #datosRegistro #formuEspacio #botonCuenta {
      display: flex;
      margin-top: 2em; }
      #datosRegistro #formuEspacio #botonCuenta .botonTexto {
        background-color: #3394F3;
        color: #FFFFFF;
        font-family: "Quicksand", sans-serif;
        border-radius: 5px;
        border-bottom: 2px solid #3394F3;
        margin: auto;
        width: 30%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
      #datosRegistro #formuEspacio #botonCuenta .botonTexto:hover {
        background-color: #fcf8e8;
        color: #3394F3;
        font-weight: 600;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #3394F3; }

.menuMedio4 {
  width: 85%;
  margin: 2% auto 2% auto; }

/* *****  CUENTA -  final   ****************************************************************************************************** */
/* */
/* */
/* *****  CLUB - Inicio     ******************************************************************************************************** */
.fondoClub {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "club tablaGanadores";
  margin: 5% 0 5% 0; }

#club {
  grid-area: club;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "inscribete" "datosRegistros";
  justify-items: center; }

#inscribete {
  grid-area: inscribete;
  display: grid; }
  #inscribete #alinCentro4 {
    background-color: #3394F3;
    border-radius: 10px; }
  #inscribete #instrucciones1 {
    margin: auto 2em 2em 2em; }
  #inscribete #instrucciones1 p {
    font-size: 1.2rem;
    color: #3394F3;
    font-weight: 570; }

#alinCentro4 h4 {
  color: #fcf8e8; }

#imgClub {
  width: 100%;
  margin-top: auto; }

#inscribete, #datosRegistros2 {
  width: 85%;
  text-align: justify;
  background-color: #fcf8e8;
  border: 2px solid #3394F3;
  border-radius: 15px;
  font-size: 1.2rem; }

#inscribete h4, #alinCentro5 h4 {
  padding: .4em 0 .4em 0;
  margin: auto; }

#alinCentro4, #alinCentro5 {
  margin: 2em;
  display: flex; }

#datosRegistros2 {
  grid-area: datosRegistros;
  margin-top: 5%; }
  #datosRegistros2 #alinCentro5 {
    background-color: #fcf8e8;
    border-bottom: 1px solid #3394F3; }
  #datosRegistros2 #alinCentro5 h4 {
    font-size: 1.4rem;
    color: #3394F3;
    font-weight: 600; }
  #datosRegistros2 #formuClub {
    margin: 2em 2em 0 2em;
    color: #3394F3;
    font-size: 1.2rem;
    font-weight: 580;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    #datosRegistros2 #formuClub #botonClub {
      display: flex;
      width: 100%;
      margin: 3em 0 0 0; }

.botonTexto1 {
  background-color: #3394F3;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  border-bottom: 2px solid #3394F3;
  margin: auto;
  width: 30%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.botonTexto1:hover {
  background-color: #FFFFFF;
  color: #3394F3;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #3394F3; }

#tablaGanadores {
  grid-area: tablaGanadores;
  background-color: #fcf8e8;
  border: 2px solid #F39233;
  padding: 1.5em;
  border-radius: 10px;
  width: 90%; }
  #tablaGanadores #tablas {
    width: 100%; }
    #tablaGanadores #tablas .tituloTabla {
      font-family: "Chilanka", cursive;
      text-align: center;
      font-weight: bold;
      font-size: 1.6rem;
      color: #F39233;
      margin: 1em auto 1em auto; }
    #tablaGanadores #tablas .animacionLetra {
      animation-duration: 4s;
      animation-name: animacionLetra;
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-iteration-count: infinite; }

@keyframes animacionLetra {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(350deg); }
  100% {
    transform: rotateY(360deg); } }
  #tablaGanadores #tabla {
    color: #f3f3f3; }
    #tablaGanadores #tabla #tabla tr td {
      padding-left: 2em; }
    #tablaGanadores #tabla .color1 {
      background-color: #01c5c4; }
    #tablaGanadores #tabla .color2 {
      background-color: #F33394; }
    #tablaGanadores #tabla .color3 {
      background-color: #3394F3; }

/* *****  CLUB - Fin        ******************************************************************************************************** */
/* */
/* */
/* *****  CONTACTO - Inicio  ***************************************************************************************************** */
.fondoContacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "formu";
  align-items: center;
  justify-items: center;
  margin: 5% 0 10% 0; }

#fondoCt {
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 1; }

#imgCtc {
  width: 70%; }

#formu {
  grid-area: formu;
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 80;
  top: 24em; }

#contContenido {
  padding: 6em 3em 6em 3em;
  width: 70%;
  color: #F33394;
  font-family: "Quicksand", sans-serif; }

#contContenido h5 {
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.formContacto {
  font-size: 1.2rem;
  font-weight: 580;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#textoContenido {
  text-align: center; }

#botonContacto {
  display: flex;
  width: 100%;
  margin: 2em 0 0 0; }

.botonCtc {
  background-color: #F33394;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  border-bottom: 2px solid #F33394;
  margin: auto;
  width: 30%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.botonCtc:hover {
  background-color: #FFFFFF;
  color: #F33394;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #F33394; }

/* *****    CONTACTO - final ******************************************************************************************************* */
/* */
/* */
/* ######  MAIN - fin ############################################################################################################## */
/* */
/* */
/* */
/* #####  PAGINA NO ENCONTRADA ############################################################################################################ */
#oops {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  grid-template-areas: "imgOops" "oops2";
  margin: 1% 0 1% 0; }
  #oops .imgOops {
    grid-area: imgOops;
    margin: 0 auto 0 auto;
    padding: 0 2em; }

#oops2 {
  grid-gap: oops2;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin: 0 auto 0 auto;
  padding: .5em 2em; }

#oops2 h4 {
  color: #01c5c4;
  font-size: 1.4rem;
  font-weight: 600; }

#oops2 a {
  text-decoration: none;
  color: #F33394;
  font-size: 1.6rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 600; }

/* #####  PAGINA NO ENCONTRADA- fin  ############################################################################################################ */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* ######           FOOTER - inicio           ##################################################################################### */
/* ################################################################################################################################ */
#pieT {
  grid-area: pieT;
  width: 100%;
  grid-template-rows: 1fr 90px;
  grid-template-areas: "mapa" "foot"; }

.mapa {
  grid-area: mapa;
  width: 100%;
  background-color: #fcf8e8;
  background-image: url("./img/44.png");
  background-size: 21%;
  border-radius: 10px 10px 0 0;
  border-top: 0.21em solid #3394F3;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0; }

#donde {
  padding: .2em 1em .2em 1em;
  background-color: #3394F3;
  margin: 0 auto 0 auto;
  color: #fcf8e8;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

#donde h5 {
  font-size: 1.3rem; }

.rayuela {
  width: 50%;
  margin: auto; }

.foot {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-areas: "copy conta rrss"; }

.copy {
  grid-area: copy;
  margin: auto; }

.copy__copyTexto {
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.1em;
  color: #FFFFFF; }

.conta {
  width: 100%;
  grid-area: conta;
  margin: auto; }
  .conta .conta__contaLink {
    text-decoration: none;
    color: #f3f3f3;
    text-align: center; }

.conta__contaLink__contaTexto {
  margin-bottom: 0;
  font-size: 1.4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", sans-serif;
  animation-name: cambiarColor;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.conta__contaLink__contaTexto:hover {
  transition: all 0.2s ease;
  animation-name: horizontall;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

@keyframes horizontall {
  16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

@keyframes cambiarColor {
  0% {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  25% {
    color: #041085;
    text-shadow: 0 1px 1px rgba(252, 248, 232, 0.5); }
  50% {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  75% {
    color: #041085;
    text-shadow: 0 1px 1px rgba(252, 248, 232, 0.5); }
  100% {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); } }

.rrss {
  grid-area: rrss;
  margin: auto; }
  .rrss .rrss__rrssLink {
    margin-left: auto; }
    .rrss .rrss__rrssLink .rrss__rrssLink__solo__imgFooter {
      width: 1.6em;
      height: auto;
      margin-left: 0.4em; }

.foot--modif {
  border-top: 10px solid #fcf8e8;
  height: 100px;
  background-color: #3394F3;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px; }
  .foot--modif .copy--modif {
    width: 80%;
    display: flex; }
  .foot--modif .rrss--modif {
    width: 80%;
    display: flex; }

/* #####  FOOTER - fin  ############################################################################################################ */
