/*azulCeleste*/
/*blancoN*/
/*naranja*/
/*verde*/
/*rosa*/
/*gris comodin*/
/*blanco */
/* ################################################################################################################################ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none; }

/* ################################################################################################################################ */
/* #####           HEADER - inicio               ################################################################################## */
/* ################################################################################################################################ */
#contenedorT {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px 1fr auto;
  grid-template-areas: "cabeceraT cabeceraT cabeceraT cabeceraT" "contenidoT contenidoT contenidoT contenidoT" "pieT pieT pieT pieT";
  width: 100%;
  background-color: #f3f3f3;
  background-size: cover;
  margin-left: auto;
  margin-right: auto; }

#cabeceraT {
  grid-area: cabeceraT;
  display: grid;
  background-color: #f3f3f3;
  grid-template-columns: 100%;
  grid-template-rows: 100px 45px;
  grid-template-areas: "fondo"			 "segundo"; }

#fondo {
  grid-template-rows: 50px 50px;
  background-image: url("./img/44.png");
  background-size: 27%;
  grid-area: fondo;
  display: grid;
  grid-template-areas: "tituloPri" "tituloSecu";
  background-color: #fcf8e8; }
  #fondo #tituloPri {
    grid-area: tituloPri;
    padding-top: 0.5em; }
    #fondo #tituloPri .tituloPri {
      color: #fcf8e8;
      text-shadow: 0 0 5px #3394f3, 0 0 5px #3394f3, 0 0 10px #3394f3, 0 0 20px #17aaf7, 0 0 40px #17aaf7;
      font-size: 3em;
      text-align: center;
      font-weight: 600;
      font-family: "Kalam"; }
  #fondo #tituloPri a {
    text-decoration: none; }
  #fondo #tituloSecu {
    grid-area: tituloSecu;
    margin-top: 12px; }
    #fondo #tituloSecu .tituloSec {
      color: #3394F3;
      text-shadow: 0 0 4px #fcf8e8, 0 0 10px #fcf8e8;
      font-size: 1.5em;
      text-align: center;
      font-family: "Chilanka", cursive;
      height: 30px;
      font-weight: bolder; }

/* ***** MENUS - INICIO  *********************************************************************************************************** */
#segundo {
  height: 100%;
  width: 100%;
  grid-area: segundo;
  display: grid;
  grid-template-columns: 14% 72% 14%;
  grid-template-rows: 45px;
  grid-template-areas: "ganadoresMes nave sitios"; }
  #segundo .segundo {
    margin-left: auto;
    margin-right: auto; }
  #segundo #ganadoresMes {
    grid-area: ganadoresMes;
    height: 100%;
    width: 100%; }
  #segundo #ganadoresMes > .btn {
    margin-bottom: auto;
    margin-top: auto;
    padding: 0px;
    border-radius: 0px 0px 10px 10px; }
  #segundo .botonGanadores {
    background-color: #fcf8e8;
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    color: #F39233;
    font-weight: bold;
    border-bottom: 2px solid #F39233;
    border-right: 2px solid #F39233; }
  #segundo .botonGanadores:hover {
    background-color: #F39233;
    color: #FFFFFF; }
  #segundo #sitios {
    grid-area: sitios;
    padding: 0px;
    height: 100%;
    width: 100%; }
  #segundo #sitios > .btn {
    margin-bottom: auto;
    margin-top: auto;
    padding: 0px;
    border-radius: 0px 0px 10px 10px; }
  #segundo .botonSitios {
    background-color: #fcf8e8;
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;
    font-size: 0.7em;
    color: #F39233;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #F39233;
    border-left: 2px solid #F39233; }
  #segundo .botonSitios:hover {
    background-color: #F39233;
    color: #FFFFFF; }
  #segundo .menuUl {
    background-color: #F39233;
    border-radius: 10px 10px 10px 10px;
    width: 98%; }
  #segundo .menuUl h6 {
    color: #FFFFFF;
    text-align: center;
    font-family: "Quicksand", sans-serif; }
  #segundo .menuUl li a {
    color: #FFFFFF;
    font-size: 0.9em;
    text-align: center; }

#menuPrincipal {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-decoration: none;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto; }
  #menuPrincipal .ini {
    border-bottom: 2px solid #3394F3;
    border-right: 2px solid #3394F3;
    color: #3394F3;
    font-weight: bold; }
  #menuPrincipal .pq {
    border-bottom: 2px solid #F33394;
    border-right: 2px solid #F33394;
    color: #F33394;
    font-weight: bold; }
  #menuPrincipal .est {
    border-bottom: 2px solid #01c5c4;
    color: #01c5c4;
    font-weight: bolder; }
  #menuPrincipal .cue {
    border-bottom: 2px solid #F33394;
    border-left: 2px solid #F33394;
    color: #F33394;
    font-weight: bold; }
  #menuPrincipal .clu {
    border-bottom: 2px solid #3394F3;
    border-left: 2px solid #3394F3;
    color: #3394F3;
    font-weight: bold; }
  #menuPrincipal #nave {
    grid-area: nave;
    width: 100%;
    height: 100%; }

#nave nav a {
  background-color: #fcf8e8;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 100ms;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  text-align: center; }

#nave nav .ini:hover {
  background-color: #3394F3;
  color: #FFFFFF;
  text-align: center; }

#nave nav .pq:hover {
  background-color: #F33394;
  color: #FFFFFF;
  text-align: center; }

#nave nav .est:hover {
  background-color: #01c5c4;
  color: #FFFFFF;
  text-align: center; }

#nave nav .cue:hover {
  background-color: #F33394;
  color: #FFFFFF;
  text-align: center; }

#nave nav .clu:hover {
  background-color: #3394F3;
  color: #FFFFFF;
  text-align: center; }

/* *****   MENUS - fin   *********************************************************************************************************** */
/* */
/* */
/* #####   HEADER - fin       ###################################################################################################### */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* #####            MAIN - inicio            ###################################################################################### */
/* ################################################################################################################################ */
#contenidoT {
  grid-area: contenidoT;
  font-family: "Quicksand", sans-serif; }

/* ***** INDEX - inicio ************************************************************************************************************ */
.fondoInicio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 53px auto auto auto auto auto;
  grid-template-areas: "contendedorLogos" "slider"  "registrate1" "sliderTa" "registrate2" "tarjetas";
  margin: 5% 0 5% 0; }

#contendedorLogos {
  grid-area: contendedorLogos;
  height: 100%;
  display: flex; }

.logos {
  height: 90%;
  width: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto; }

#slider {
  grid-area: slider;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3394F3;
  border-radius: 15px 15px 0 0;
  padding: 50px;
  display: flex; }
  #slider .sliderImg {
    display: flex;
    align-items: stretch; }
  #slider .sliderImg div img {
    width: 20%;
    height: auto; }
  #slider .slidertImg {
    display: flex;
    align-items: stretch; }
  #slider .slidertImg div img {
    width: auto;
    height: 20%; }

.carrusel {
  border: 2px solid #FFFFFF;
  width: 85%;
  margin: auto; }

#registrate1 {
  grid-area: registrate1; }

#registrate1 h5 {
  color: #F39233; }

#registrate2 {
  grid-area: registrate2; }

#registrate2 h5 {
  color: #F33394; }

.registrate {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fcf8e8;
  align-items: center;
  align-content: center; }

.registrate h5 {
  font-size: 1.3em;
  padding-left: 10px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px; }

.registrate h5 a {
  color: #3394F3;
  padding-left: 15px;
  text-decoration: none;
  font-size: 1.2em;
  padding-right: 10px; }

.registrate:hover {
  background-color: #01c5c4; }

.registrate a:hover {
  color: #fcf8e8; }

.menuMedio2 {
  width: 85%;
  margin: 2% auto 2% auto; }

#sliderTa {
  grid-area: sliderTa;
  padding: 50px 0 50px 0;
  margin: auto;
  border-radius: 15px 15px 0 0;
  width: 85%; }
  #sliderTa #carouselExampleFade {
    border: solid #FFFFFF;
    width: 35%;
    margin-left: auto;
    margin-right: auto; }

.sliderTa {
  background-image: url("./img/fondorayas.png");
  background-position: -30%;
  background-size: 40%;
  background-repeat: repeat; }

#tarjetas {
  grid-area: tarjetas;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3394F3;
  border-radius: 0 0 15px 15px;
  padding: 50px;
  display: flex; }

/* ******** INDEX - final ********************************************************************************************************** */
/* ***** ESTANTERIA -  final ***************************************************************************************************** 
/* */
/* */
/* *****  CUENTA - Inicio   ****************************************************************************************************** */
.fondoCuenta {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "cuentaCuento"	 "datosRegistro" "menuMedio1";
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 5% 0 5% 0; }

#cuentaCuento {
  grid-area: cuentaCuento;
  width: 85%; }

#cuenta {
  background-color: #3394F3;
  border-radius: 15px;
  display: flex;
  margin: auto;
  font-size: 1.2em; }
  #cuenta .imgCuentame {
    background-color: #FFFFFF;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    display: inline-block; }

#cuenta img {
  width: 100%; }

.cuentaContenido {
  text-align: justify;
  color: #fcf8e8;
  font-family: "Quicksand", sans-serif; }
  .cuentaContenido .alinCentro {
    background-color: #fcf8e8;
    display: flex;
    border-radius: 10px;
    padding: 0.5em 0 0.5em 0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em; }

.cuentaContenido h4 {
  margin: auto;
  font-weight: bold;
  color: #3394F3;
  font-size: 1.3em;
  text-align: center; }

.instrucciones {
  padding: 2em;
  font-size: 1.12em; }
  .instrucciones .pp ul li {
    text-align: justify;
    color: #fcf8e8;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem; }
  .instrucciones .pp a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF; }

#datosRegistro {
  grid-area: datosRegistro;
  width: 85%;
  background-color: #f3f3f3;
  background-image: url("./img/5.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 12%;
  border: 2px solid #3394F3;
  border-radius: 15px;
  margin-top: 5%; }
  #datosRegistro #contCuento {
    padding: 2em 2em;
    color: #3394F3;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem; }
    #datosRegistro #contCuento .alinCentro1 {
      background-color: #3394F3;
      display: flex;
      border-radius: 10px;
      padding: 0.5em 0 0.5em 0; }
  #datosRegistro #contCuento h4 {
    margin: auto;
    color: #fcf8e8; }
  #datosRegistro #formuEspacio {
    margin-top: 25%;
    width: 100%;
    color: #3394F3;
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif; }
    #datosRegistro #formuEspacio .cajaForm {
      background-color: #fcf8e8;
      opacity: 0.5; }
    #datosRegistro #formuEspacio #botonCuenta {
      display: flex;
      margin-top: 2em; }
      #datosRegistro #formuEspacio #botonCuenta .botonTexto {
        background-color: #3394F3;
        color: #FFFFFF;
        font-family: "Quicksand", sans-serif;
        margin: auto;
        width: 30%; }

.menuMedio4 {
  width: 85%;
  margin: 2% auto 2% auto; }

/* *****  CUENTA -  final   ****************************************************************************************************** */
/* */
/* */
/* *****  CLUB - Inicio     ******************************************************************************************************** */
.fondoClub {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "club tablaGanadores";
  margin: 5% 0 5% 0; }

#club {
  grid-area: club;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "inscribete" "datosRegistros";
  justify-items: center; }

#inscribete {
  grid-area: inscribete;
  width: 85%;
  text-align: justify;
  background-color: #fcf8e8;
  border: 2px solid #3394F3;
  border-radius: 15px;
  font-size: 1.12em; }
  #inscribete #alinCentro4 {
    background-color: #3394F3;
    border-radius: 10px;
    margin: 2em;
    display: flex; }
  #inscribete #instrucciones1 {
    font-size: 1.12em;
    color: #3394F3;
    margin: 2em 2em 0 2em; }

#inscribete h4 {
  padding: 0.5em 0 0.5em 0;
  margin: auto;
  color: #fcf8e8; }

#imgClub {
  width: 100%; }

#datosRegistros2 {
  grid-area: datosRegistros;
  width: 85%;
  background-color: #fcf8e8;
  border: 2px solid #3394F3;
  border-radius: 15px;
  margin-top: 5%; }
  #datosRegistros2 #alinCentro5 {
    background-color: #fcf8e8;
    border-bottom: 2px solid #3394F3;
    margin: 2em;
    display: flex; }
  #datosRegistros2 #alinCentro5 h4 {
    padding: 0.5em 0 0.5em 0;
    margin: auto;
    color: #3394F3; }
  #datosRegistros2 #formuClub {
    margin: 0 2em 2em 2em;
    color: #3394F3;
    font-size: 1.12em; }
    #datosRegistros2 #formuClub #botonClub {
      display: flex;
      width: 100%;
      margin: 2em 0 0 0; }
      #datosRegistros2 #formuClub #botonClub .botonTexto1 {
        background-color: #3394F3;
        color: #FFFFFF;
        font-family: "Quicksand", sans-serif;
        margin: auto;
        width: 30%; }

#tablaGanadores {
  grid-area: tablaGanadores;
  background-color: #fcf8e8;
  border: 2px solid #F39233;
  padding: 1.5em;
  border-radius: 10px;
  width: 90%; }
  #tablaGanadores #tablas {
    width: 100%; }
    #tablaGanadores #tablas .tituloTabla {
      font-family: "Chilanka", cursive;
      font-size: 1.2em;
      color: #F39233; }
    #tablaGanadores #tablas .animacionLetra {
      animation-duration: 5s;
      animation-name: animacionLetra;
      animation-iteration-count: infinite; }

@keyframes animacionLetra {
  from {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(360deg); } }
  #tablaGanadores #tabla {
    color: #f3f3f3; }
    #tablaGanadores #tabla #tabla tr td {
      padding-left: 2em; }
    #tablaGanadores #tabla .color1 {
      background-color: #01c5c4; }
    #tablaGanadores #tabla .color2 {
      background-color: #F33394; }
    #tablaGanadores #tabla .color3 {
      background-color: #3394F3; }

/* *****  CLUB - Fin        ******************************************************************************************************** */
/* */
/* */
/* *****  CONTACTO - Inicio  ***************************************************************************************************** */
.fondoContacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "formu";
  align-items: center;
  justify-items: center;
  margin: 5% 0 10% 0; }

#fondoCt {
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 1; }
  #fondoCt #imgCtc {
    width: 70%; }

#formu {
  grid-area: formu;
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 2;
  top: 11em; }

#contContenido {
  padding-top: 280px;
  padding-bottom: 100px;
  width: 70%;
  padding-left: 50px;
  padding-right: 50px;
  color: #3394F3;
  font-family: "Quicksand", sans-serif; }
  #contContenido #textoContenido {
    text-align: center; }

#botonContacto {
  display: flex;
  width: 100%;
  margin: 2em 0 0 0; }
  #botonContacto .botonAzul {
    background-color: #3394F3;
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    margin: auto;
    width: 30%; }

/* *****    CONTACTO - final ******************************************************************************************************* */
/* */
/* */
/* ######  MAIN - fin ############################################################################################################## */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* ######           FOOTER - inicio           ##################################################################################### */
/* ################################################################################################################################ */
#pieT {
  grid-area: pieT;
  width: 100%;
  grid-template-rows: 1fr 90px;
  grid-template-areas: "mapa" "foot"; }

.mapa {
  grid-area: mapa;
  width: 100%;
  background-color: #fcf8e8;
  background-image: url("./img/44.png");
  background-size: 21%;
  border-radius: 10px 10px 0 0;
  border-top: 0.2em solid #3394F3;
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  padding: 0; }
  .mapa .rayuela {
    width: 50%;
    margin: auto; }

.foot {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-areas: "copy conta rrss"; }
  .foot .copy {
    grid-area: copy;
    margin: auto; }
  .foot .copy__copyTexto {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.1em;
    color: #FFFFFF; }

.conta {
  width: 100%;
  grid-area: conta;
  margin: auto; }
  .conta .conta__contaLink {
    text-decoration: none;
    color: #f3f3f3;
    text-align: center; }
    .conta .conta__contaLink .conta__contaLink__contaTexto {
      margin-bottom: 0;
      font-size: 1.4em;
      font-family: "Quicksand", sans-serif; }

.rrss {
  grid-area: rrss;
  margin: auto; }
  .rrss .rrss__rrssLink {
    margin-left: auto; }
    .rrss .rrss__rrssLink .rrss__rrssLink__solo__imgFooter {
      height: 1.7em;
      margin-left: 0.5em; }

.foot--modif {
  border-top: 10px solid #fcf8e8;
  height: 100px;
  background-color: #3394F3;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px; }
  .foot--modif .copy--modif {
    width: 80%;
    display: flex; }
  .foot--modif .rrss--modif {
    width: 80%;
    display: flex; }

/* #####  FOOTER - fin  ############################################################################################################ */
