
/* ################################################################################################################################ */
/* #####            MAIN - inicio            ###################################################################################### */
/* ################################################################################################################################ */


#contenidoT{
	grid-area: contenidoT;
	font-family: $fuenteTexto;	
}

/* ***** INDEX - inicio ************************************************************************************************************ */

.fondoInicio {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:  53px auto auto auto auto auto; 
	grid-template-areas:
	"contendedorLogos"
	"slider" 
	"registrate1"
	"sliderTa"
	"registrate2"
	"tarjetas";   
	margin: 5% 0 5% 0;	
}

	#contendedorLogos {
		grid-area: contendedorLogos;
		height:100%;
		display: flex;
	}

		.logos {
			height: 90%;
			width: auto;
			margin: auto auto 0 auto;
		}

		#slider {
			grid-area: slider;
			width: 85%;
			margin: 0 auto 0 auto;	
			background-color:  $colPrincipal;
			border-radius: 15px 15px 0 0;
			padding: 3em;
			display: flex;

				.sliderImg, .slidertImg {
					display: flex;
					align-items: stretch;
				}

				.sliderImg div img, .slidertImg div img  {
					width:20%;
					height: auto;
				}				
		}
			.carrusel{
				border: 2px solid $colNeutro;	
				width: 85%;
				margin: auto;
			}

		#registrate1{
			grid-area: registrate1;					
		}

			#registrate1 a, #registrate2 a {
				text-decoration: none;														
			}
				
			#registrate1 h4 {
				color: $colApoyo1;
				font-size: $fuenteTamH4;							
			}

			#registrate2 h4 {
				color: $colApoyo3;
				font-size: $fuenteTamH4;							
			}
					
			#registrate1 p, #registrate2 p {					
				font-size: $fuenteGrande;	
				color: $colPrincipal;
				text-shadow:
				0 0 4px rgba(252, 248, 232, 1),
				0 0 8px rgba(252, 248, 232, 1),
				0 0 10px rgba(252, 248, 232, 1),
				0 0 12px rgba(252, 248, 232, 1);					
			}

		#registrate2{
			grid-area: registrate2;
		}

		.registrate {
			width: 85%;
			margin: 0 auto 0 auto;
			text-align: center;	
			background-color:  $colGeneral;			
		}

			.registrate h4 {
				font-size: $fuenteTamH4;
				font-weight: bolder;
				text-decoration: none;
				padding: .8em 0 .8em .8em;
				margin:0;			
			}	

			#registrate1 :hover, #registrate2 :hover {
				background-color: $colApoyo2;
				color: $colGeneral;	
				transition: all 100ms;	
				text-shadow: 0 1px 1px rgba(0,0,0,0.5);
			}

			#registrate1 p:hover {	
				color: $colApoyo1;				
				text-shadow:
				0 1px 1px rgba(0,0,0,0.1),
				0 0 4px rgba(252, 248, 232, 1),
				0 0 8px rgba(252, 248, 232, 1),
				0 0 10px rgba(252, 248, 232, 1),
				0 0 12px rgba(252, 248, 232, 1);
			}

			#registrate2 p:hover {	
				color: $colApoyo3;	
				text-shadow:
				0 1px 1px rgba(0,0,0,0.1),
				0 0 4px rgba(252, 248, 232, 1),
				0 0 8px rgba(252, 248, 232, 1),
				0 0 10px rgba(252, 248, 232, 1),
				0 0 12px rgba(252, 248, 232, 1);			
			}

	#sliderTa {
		grid-area: sliderTa;
		padding: 3em 0 3em 0;
		margin: auto;	
		border-radius: 15px 15px 0 0;
		width: 85%;

		#carouselExampleFade {
			border: solid $colNeutro;
			width: 35%;
			margin: 0 auto 0 auto;
		}
	}

		.sliderTa {
			background-image: url("../../img/fondorayas.png");
			background-position: -30%;
			background-size: 40%;
			background-repeat: repeat;
		}

	#tarjetas {
		grid-area: tarjetas;
		width: 85%;
		margin: 0 auto 0 auto;	
		background-color: $colPrincipal;
		border-radius: 0 0 15px 15px;
		padding: 3em;		
	}

	.menuMedio2{
		width: 85%;	
		margin: 2% auto 2% auto;		
	}

/* ******** INDEX - final ********************************************************************************************************** */
/* */
/* */
/* ******** PORQUE - inicio ******************************************************************************************************** */

.fondoPorque {	
	display: grid;
	grid-template-columns:  1fr;
	grid-template-areas:
	"acerca";
	margin: 5% 0 5% 0;
}

	#acerca {
		grid-area: acerca;
		width: 85%;
		margin: 0 auto 0 auto;
		grid-template-columns: 1fr; 
		grid-template-rows: 8fr;
		grid-template-areas:
		"por"
		"menuMedio"
		"por"
		"menuMedio"
		"por"
		"menuMedio"
		"por"
		"menuMedio";		
	}

		.por {
			grid-area: por;
			font-family: $fuenteTexto;
		}

		.por h4 {
			border-radius: 10px;
			text-align: center;
			padding: .3em 0;
			font-size: $fuenteTamH4;
		}

		.quienes {
			background-color: $colPrincipal;
			margin: .5em 1.6em;
			color: $colGeneral;			
		}

		.por p {
			padding: .5em;
			text-align: justify;
			margin: 0em 2em;	
			font-size: $fuenteGrande;	
			font-weight: 550;	
		}

	

/* PORQUE - estructura textos*/
	.estructura1C {		
		text-align: justify;
		background-size: 50% auto;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	.estructura2R {
		padding: 1.6em 1.6em 1.6em 50%;
		background-position: 0 50%;
	}

	.estructura3I {
		background-color: $colGeneral;
		color: $colPrincipal;
		border: 2px solid $colPrincipal;
		background-image: url("../../img/7.png");
		background-position: 20% 70%;
		background-size: 35%;
		border-radius: 15px;	
	}

	.estructura2L {
		padding: 1.6em 50% 1.6em 1.6em;
		background-position: 100% 50%;
	}

	.estructura4I {
		background-color: $colGeneral;
		color: $colPrincipal;
		border: 2px solid $colPrincipal;
		background-image: url("../../img/p.png");		
		background-size: 35%;
		background-position: 80% center;
		border-radius: 15px;
	}

	.estructura5I {
		background-color: $colGeneral;
		color: $colPrincipal;
		border: 2px solid $colPrincipal;
		background-image: url("../../img/3.png");
		border-radius: 15px;
		background-size: 35%;
		background-position: 20% center;
	}

	.estructura6I {
		background-color: $colGeneral;
		color: $colPrincipal;
		border: 2px solid $colPrincipal;
		background-image: url("../../img/t.png");
		background-repeat: no-repeat;
		background-size: 32%;
		background-position: 80% 60%;
		border-radius: 15px;	
	}


	/*menu auxilar*/

	.menuMedio {
		grid-area: menuMedio;
	}

	.menuMedio nav{
		width: 100%;
	}

	.separator {
		text-align: center;
		cursor: pointer;
		justify-content: center;
		align-items: center;
	}
		.separator nav {
			display: grid;
			grid-template-columns: calc(95%/3) calc(95%/3) calc(95%/3);
			height:4em;
			width: 100%;
			padding: .5em 0 .5em 0;			
			justify-content: space-between;
		}	
	
			.separator nav a {
				display: flex;
				flex-direction: row;
				border-radius: 7px;
				width: 100%;
				font-family: $fuenteTexto;
				font-size: $fuenteGrande;	
				height:2em;
				justify-content: center;
				align-items: center;
				align-content: center;
				transition: all 100ms;
				color:  $colNeutro;
				margin: auto;
				text-decoration: none;
				text-transform: uppercase;
			}

				.separator nav a:nth-child(1) {
					background-color: $colApoyo1;
					border: 1px solid $colApoyo1;				
				}

				.separator nav a:nth-child(2) {
					background-color: $colApoyo2;
					border: 1px solid $colApoyo2;			
				}

				.separator nav a:nth-child(3) {
					background-color: $colApoyo3;
					border: 1px solid $colApoyo3;								
				}

				.separator nav a:nth-child(1):hover, 
				.separator nav a:nth-child(2):hover, 
				.separator nav a:nth-child(3):hover {	            	
					text-shadow: 0 1px 1px rgba(0,0,0,0.5);
					transition: all 0.2s ease;	
				   	animation-name: horizontal;
				  	animation-duration: 1s;
				  	animation-timing-function: ease-in-out;
				  	animation-iteration-count: 1;
				}


@keyframes horizontal {
  16.65% {   
    transform: translateX(8px);
  }
  33.3% {   
    transform: translateX(-6px);
  }
  49.95% {   
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% { 
    transform: translateX(1px);
  }
  100% { 
    transform: translateX(0);
  }
}





/* ***** PORQUE - final ********************************************************************************************************** */
/* */
/* */
/* ***** ESTANTERIA - Inicio  **************************************************************************************************** */
.fondoEstanteria {	
	display: grid;
	grid-template-columns: 35% 30% 35%;
	grid-template-rows: auto auto;
	grid-template-areas:
	"cuentosLeer cuentosVideo cuentosGanadores"
	"menuMedio3 menuMedio3 menuMedio3";
	margin: 5% 0 5% 0;	
}

	#cuentosLeer {
		grid-area: cuentosLeer;
		display: grid;
		grid-template-areas:
		"tituloLeerIndice"
		"leerIndice";
		
			#tituloLeerIndice {
			grid-area: tituloLeerIndice;
			background-color:  $colApoyo1;			
		}

			#leerIndice { 
			grid-area: leerIndice;
			background-color: $colGeneral;
			border: 2px solid $colApoyo1;				
		}
	}

	#cuentosGanadores { 
		grid-area: cuentosGanadores;
		display: grid;
		grid-template-areas:
		"tituloIndice"
		"ganadoresIndice";		

		#tituloIndice {
			grid-area: tituloIndice;
			background-color:  $colApoyo3;					
		}

		#ganadoresIndice { 
			grid-area: ganadoresIndice;
			background-color: $colGeneral;
			border: 2px solid  $colApoyo3;			
		}
	}

	#cuentosLeer, #cuentosGanadores {	
		grid-template-columns: 100%; 
		grid-template-rows: 50px 1fr;		
		@include anchoAlto;
		padding: 0 2em 0 2em;
	}

		#tituloIndice, #tituloLeerIndice {
			height: 100%;		
			display: flex;
			text-align: center;	
			align-items: center;
			border-radius: 15px 15px 0px 0px;
		}

		 #leerIndice, #ganadoresIndice { 
			border-radius: 0 0 15px 15px;				
			display: grid;
			grid-template-columns: 70% 30%; 
			grid-template-rows: auto auto auto auto auto auto;
			grid-template-areas:	
			"article article" 
			"article article"
			"article article"
			"article article" 
			"article article"
			"article article";
			grid-gap: .4em;
			width: 100%;
			padding: 1em .8em;		
			align-items: space-between;
			justify-content: center;
		}

			#leerIndice article,  #ganadoresIndice article {	
				width: 90%;
				height: auto;
				margin: .8em auto .8em auto;			
				display: flex;				
			}

				#leerIndice .efecTarjeta {
					border: 1px solid $colApoyo1;	

				}

				#leerIndice .botonCuento p:hover {
					transform:scale(1.5);
					color: $colApoyo1;
					text-shadow: 0 1px 1px rgba(0,0,0,0.2);
					transition: all 100ms;
				}				
			
				#ganadoresIndice .efecTarjeta {
						border: 1px solid  $colApoyo3;	
					}
	
				#cuentosGanadores .botonCuento p:hover {
					transform:scale(1.5);
					color: $colApoyo3;
					text-shadow: 0 1px 1px rgba(0,0,0,0.2);	
					transition: all 100ms;			 
				}

				.efecTarjeta {	
					border: 1px solid  $colApoyo1;
					background-color: $colGeneral;
					border-radius: 4px;			
				}	

					.efecTarjeta:hover {	
						transition: all 100ms;	
						transform:scale(1.07);
						font-size: $fuenteMediana;
						font-weight:550;
						box-shadow: 0 1px 1px rgba(0,0,0,0.1);	
					}	

				.imagen {
					width: 100%;
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
				}

				.t {	
					margin: auto;
					display:flex;
					flex-direction: column;
					padding: 0 .35em 0 .35em;	
				}

					.t > h6 {
						margin: auto;
						font-size: $fuenteMediana;
						padding-bottom: .3em;
						text-align: center;						
					}

					.t > p {
						text-align: justify;
						font-size: $fuenteMinima;									
					}	
		
		.centroV {
				margin:auto;
				color: $colGeneral;
				font-size: $fuenteExtrag;
		}

		.botonCuento {
			width:75%;	
			background-color: $colGeneral;
			border: 0;
			margin: auto;		
			padding: 0;
			justify-content: center;			
		}

			.bo {
				padding: 0;
			}

				.bo p {	
					font-size: $fuenteMediana;		
					text-align: center;		
					font-family: $fuenteSub;
					font-weight: 600;
					text-decoration: none;
					color: $colPrincipal;
				}

				.efecTarjeta > .t  {
							margin: .5em 0 .5em 0;
					}	
		
		.btn-check:focus+.btn, .btn:focus { /*correccion elemento bootstrap */
			box-shadow: 0 0 0 0.0rem $colGeneral;
		}
 	
	#cuentosVideo {
		grid-area: cuentosVideo;
		width: 100%;
		display: grid;
		grid-template-columns: 100%; 
		grid-template-rows: 50px 1fr;
		grid-template-areas:
		"tituloVideoFabulas"
		"videos";
		padding: 0 15px 0 15px;
	}

		#tituloVideoFabulas {
			grid-area: tituloVideoFabulas;
			text-align: center;	
			background-color:  $colApoyo2;		
			height: 100%;
			display: flex;
			align-items: center;
			border-radius: 15px 15px 0 0;	
		}

		#videos { 
			grid-area: videos;
			width: 100%;
			background-color: $colGeneral;
			border: 2px solid $colApoyo2;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: repeat (6, auto);
			grid-template-areas:
			"article"
			"article"
			"article"
			"article"
			"article" 
			"article";
			padding: 1em .8em;
			grid-gap: 3em;
			align-items: space-between;
			justify-items: center;
			justify-content: center;
			border-radius: 0 0 15px 15px;	
		}

			#videos article {	
				width: 100%;
				background-color: $colGeneral;
				border: 1px solid $colApoyo2;
				border-radius: 4px;	
				height: auto;
				margin: .8em auto .8em auto;
				display: grid;
				grid-template-rows: 150px auto;
				grid-template-areas:
				"videoCont"			
				"videTitulo";
				text-transform: uppercase;
			}

				.videoCont {
					grid-area: videoCont;
					padding:0;
			}

					.video{
						width: 100%;
						height: auto;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
	
			.videTitulo {
				grid-area: videTitulo;
				color: $colPrincipal;
				font-weight: bold;
				margin: auto;
				text-align: center;
			}	

			.videTitulo p:nth-child(1)  {
				font-size: $fuenteMediana;
				padding: 0 0 .1em 0;
			}	

			.videTitulo p {				
				font-size: $fuenteMediana;
				padding-bottom: 0 0 1em 0;
			}
			

.menuMedio3{
	grid-area: menuMedio3;
	width: 85%;
	margin: 2% auto 2% auto;
}

/*modal*/		

.modal-content {
	font-family: $fuenteTexto;
	text-align: justify;
	background-color:$colNeutro;


	.modal-header{
		background-image: url("../../img/44.png");
		background-size: 23%;
		background-color: $colGeneral;
		color: $colPrincipal;
		font-family: $fuenteSub;

		.modal-title {
			font-size: $fuenteTamH5;
			font-weight: bolder;
			text-shadow: 0 1px 1px rgba(0,0,0,0.3);
			color:  $colPrincipal;		
			width: 100%;	
			
		}
		.modal-title p {
			font-size: $fuenteTamH5;
			background-color: $colGeneral;
			font-weight: bolder;
		}
	}	
}

.modal-body p {
	font-size: $fuenteGrande;
}

.modal-footer{
		background-color:  $colPrincipal;		
		}

	.modal-footer div{
			text-align: left;
			text-shadow: 0 1px 1px rgba(0,0,0,0.3);
			color: $colGeneral;
			font-family: $fuenteTexto;
			padding-right: 1em;
		}

		.modal-footer button{
			background-color:$colGeneral;
		}
			
			.modal-footer > .btn{
					color:  $colPrincipal;
			} 					

/* ***** ESTANTERIA -  final ***************************************************************************************************** 
/* */
/* */
/* *****  CUENTA - Inicio   ****************************************************************************************************** */

.fondoCuenta {	
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-areas:
	"cuentaCuento"	
	"datosRegistro"
	"menuMedio1";
	align-items: center;
	justify-items: center;
	width: 100%;
	margin: 5% 0 5% 0;	
}

	#cuentaCuento {
		grid-area: cuentaCuento;
		width: 85%;
	}

		#cuenta {
			background-color: $colPrincipal;
			border-radius: 15px;
			display: flex;
			margin: auto;
			font-size: $fuenteGrande;
			
			.imgCuentame {
				background-color: $colNeutro;
				border-top-left-radius: 15px;
				border-bottom-left-radius: 15px;
				overflow: hidden;
				display: inline-block;	
			}
		}

		#cuenta img {
			width: 100%;
		}

	.cuentaContenido {
			text-align: justify;
			color: $colGeneral;
			font-family: $fuenteTexto;

			.alinCentro {
				background-color: $colGeneral;
				display: flex;
				border-radius: 10px;
				padding: .5em 0 .5em 0;
				margin: 2em 2em 0 2em;				
			}			
	}

			.cuentaContenido h4{
				margin: auto;
				font-weight: bold;
				color: $colPrincipal;
				font-size: $fuenteTamH4;
				text-align: center;
			}

			.instrucciones {
				padding: 2em;
				font-size: $fuenteGrande;

				p{
					font-size: $fuenteGrande;
				}

				.pp {
					background-color: $colGeneral;
					color: $colPrincipal;
					font-weight: 570;
					padding: 1em;
					border-radius: 7px;
				}

				.pp p {
					padding-bottom: .4em;
					font-weight: 600;
					text-shadow: 0 1px 1px rgba(0,0,0,0.1);

				}				

				.pp ul li{	
					text-align: justify;
					font-family: $fuenteTexto;
					font-size: $fuenteGrande;					
				}

				.pp a {
					font-weight: 600;
					text-shadow: 0 1px 1px rgba(0,0,0,0.3);
					font-size:$fuenteGrande;					
					text-decoration: none;
					color: $colApoyo1;
				}				
			}

				.instrucciones:nth-child(2) h5 {
					font-size: $fuenteTamH5;
					padding: .4em 0;
					text-shadow: 0 1px 1px rgba(0,0,0,0.3);
				}

				.instrucciones p:nth-child(6) {
						padding-top: .5em;
						text-shadow: 0 1px 1px rgba(0,0,0,0.3);
					}

	#datosRegistro {
		grid-area: datosRegistro;
		width: 85%;
		background-color: $colComodin;
		background-image: url("../../img/5.png");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: 50% 12%;
		border: 2px solid $colPrincipal;
		border-radius: 15px;
		margin-top: 5%;

		#contCuento {
			padding: 2em;
			color: $colPrincipal;
			font-family: $fuenteTexto;
			font-size: $fuenteGrande;

			.alinCentro1 {
				background-color: $colPrincipal;
				display: flex;
				border-radius: 10px;
				padding: .5em 0 .5em 0;
			}			
		}

		#contCuento h4 {
				margin: auto;
				color: $colGeneral;
				font-size: $fuenteTamH4;
			}

		#formuEspacio {
			margin-top: 25%;
			width: 100%;
			color: $colPrincipal;
			font-size: $fuenteGrande;
			font-family: $fuenteTexto;
			font-weight: 580;
			text-shadow: 0 1px 1px rgba(0,0,0,0.1);

			.cajaForm{
				background-color: $colGeneral;
				opacity: 0.5;
			}

			.formCaja{
				margin-top: .6em;
			}
			
			#botonCuenta {
				display: flex;
				margin-top: 2em;

				.botonTexto {
					background-color: $colPrincipal;
					color: $colNeutro;
					font-family: $fuenteTexto;
					border-radius: 5px;
					border-bottom: 2px solid $colPrincipal;
					margin: auto;
					width: 30%;
					box-shadow: 0 1px 1px rgba(0,0,0,0.1);	
				}

				.botonTexto:hover {
					background-color: $colGeneral;
					color: $colPrincipal;
					font-weight: 600;
					text-shadow: 0 1px 1px rgba(0,0,0,0.1);	
					border-bottom: 1px solid $colPrincipal;								
				}
			}
		}
	}

	.menuMedio4{
		width: 85%;
		margin: 2% auto 2% auto;
	}



/* *****  CUENTA -  final   ****************************************************************************************************** */
/* */
/* */
/* *****  CLUB - Inicio     ******************************************************************************************************** */
.fondoClub {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	grid-template-areas:
	"club tablaGanadores";	
	margin: 5% 0 5% 0;	
}

	#club {
		grid-area: club;	
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"inscribete"
		"datosRegistros";
		justify-items: center;	
	}

		#inscribete {
			grid-area: inscribete;
			display: grid;
			
			#alinCentro4 {
				background-color: $colPrincipal;
				border-radius: 10px;				
			}

			#instrucciones1 {				
				margin: auto 2em 2em 2em;
			}

			#instrucciones1 p {
				font-size: $fuenteGrande;
				color: $colPrincipal;
				font-weight: 570;
			}
		}

			#alinCentro4 h4 {
				color: $colGeneral;
			}

		#imgClub{
			width: 100%;
			margin-top: auto;
		}

			#inscribete, #datosRegistros2 {		
				width: 85%;
				text-align: justify;
				background-color: $colGeneral;
				border: 2px solid $colPrincipal;
				border-radius: 15px;
				font-size: $fuenteGrande;
			}

		 	#inscribete h4, #alinCentro5 h4{
				padding: .4em 0 .4em 0;
				margin: auto;				
			}

			#alinCentro4, #alinCentro5 {
				margin:2em;
				display: flex;
			}	

	#datosRegistros2 {
		grid-area: datosRegistros;		
		margin-top: 5%;	

		#alinCentro5 {
			background-color: $colGeneral;
			border-bottom: 1px solid $colPrincipal;						
		}

			#alinCentro5 h4{
				font-size: $fuenteTamH4;
				color: $colPrincipal;
				font-weight: 600;
			}

		#formuClub{
			margin: 2em 2em 0 2em;
			color: $colPrincipal;
			font-size: $fuenteGrande;
			font-weight: 580;
			text-shadow: 0 1px 1px rgba(0,0,0,0.1);

			#botonClub {
				display: flex;
				width: 100%;
				margin: 3em 0 0 0;				
			}
		}
	}	
				
				.botonTexto1 {
					background-color: $colPrincipal;
					color: $colNeutro;
					font-family: $fuenteTexto;
					border-radius: 5px;
					border-bottom: 2px solid $colPrincipal;
					margin: auto;
					width: 30%;
					box-shadow: 0 1px 1px rgba(0,0,0,0.1);	
				}

				.botonTexto1:hover {
					background-color: $colNeutro;
					color: $colPrincipal;
					font-weight: 600;
					text-shadow: 0 1px 1px rgba(0,0,0,0.1);	
					border-bottom: 1px solid $colPrincipal;								
				}



	#tablaGanadores {
	grid-area: tablaGanadores;
	background-color: $colGeneral;
	border: 2px solid $colApoyo1;
	padding: 1.5em;
	border-radius: 10px;
	width: 90%;

	#tablas {
		width: 100%;

		.tituloTabla {
			font-family: $fuenteSub;
			text-align: center;
			font-weight: bold;
			font-size: $fuenteExtrag;
			color: $colApoyo1;
			margin: 1em auto 1em auto;
			text-shadow: 0 1px 1px rgba(0,0,0,0.05);
		} 



		.animacionLetra {
			animation-duration: 4s;
			animation-name: animacionLetra;
			animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
			animation-iteration-count: infinite;
			}
			@keyframes  animacionLetra{
				0% {
				transform: rotateY(0deg);
				}	
			   50%{
			      transform: rotateY(350deg)
			   }
			   100%{
			     transform: rotateY(360deg)
			   }
			}
		}

		#tabla {
			color: $colComodin;

			#tabla tr td{
				padding-left: 2em;
			}

			.subtituloTabla {
			font-weight: bold;
		}

			.subtituloTabla ol {
			font-weight: normal;
		}

			.color1{
				background-color: $colApoyo2;	
			}

			.color2{
				background-color: $colApoyo3;
			}

			.color3{
				background-color: $colPrincipal;
			}
		}
	}


/* *****  CLUB - Fin        ******************************************************************************************************** */
/* */
/* */
/* *****  CONTACTO - Inicio  ***************************************************************************************************** */
.fondoContacto {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
	"formuCtc";
	align-items: center;
	justify-items: center;
	margin: 5% 0 10% 0;	
}

#fondoCt {
	text-align: center;
	margin:auto;
	position:relative; z-index:1;	
}
	
	#imgCtc {
		width: 70%;
	}
	
	#formuCtc {
		grid-area: formuCtc;
		width: 100%;	
		margin: auto;
		position: absolute; 
		z-index: 80;  
		top: 24em;
	}

		#contContenido {
			padding: 6em 3em 6em 3em;	
			width: 70%;		
			color: $colApoyo3;
			font-family: $fuenteTexto;		
		}

			#contContenido h5 {
				font-size: $fuenteTamH5;
				font-weight: 600;
				text-shadow: 0 1px 1px rgba(0,0,0,0.1);
			}

			.formContacto {
				font-size: $fuenteGrande;
			font-weight: 580;
			text-shadow: 0 1px 1px rgba(0,0,0,0.1);
			}

			#textoContenido {
				text-align: center;
			}

		#botonContacto {
			display: flex;
			width: 100%;
			margin: 2em 0 0 0;			
		}
			
			.botonCtc {
				background-color: $colApoyo3;
				color: $colNeutro;
				font-family: $fuenteTexto;
				border-radius: 5px;
				border-bottom: 2px solid $colApoyo3;
				margin: auto;
				width: 30%;
				box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			}

			.botonCtc:hover {
				background-color: $colNeutro;
				color: $colApoyo3;
				font-weight: 600;
				text-shadow: 0 1px 1px rgba(0,0,0,0.1);	
				border-bottom: 1px solid $colApoyo3;								
			}



/* *****    CONTACTO - final ******************************************************************************************************* */
/* */
/* */
/* ######  MAIN - fin ############################################################################################################## */
