@charset "UTF-8";
/*aplicando BEM + SASS en footer*/
#pieT {
  grid-area: pieT;
  height: 80px;
  width: 100%; }

.foot {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-areas: "copy conta rrss"; }
  .foot .copy {
    width: 100%;
    grid-area: copy;
    margin: auto; }
    .foot .copy .copy__copyTexto {
      margin-right: auto;
      margin-bottom: 0;
      font-size: 1.1em;
      color: #FFFFFF; }
  .foot .conta {
    width: 100%;
    grid-area: conta;
    margin: auto; }
    .foot .conta .conta__contaLink {
      text-decoration: none;
      color: #00587a;
      text-align: center; }
      .foot .conta .conta__contaLink .conta__contaLink__contaTexto {
        margin-bottom: 0;
        font-size: 1.4em;
        font-family: "Quicksand", sans-serif; }
  .foot .rrss {
    width: 100%;
    grid-area: rrss;
    margin: auto; }
    .foot .rrss .rrss__rrssLink {
      margin-left: auto; }
      .foot .rrss .rrss__rrssLink .rrss__rrssLink__solo__imgFooter {
        height: 1.7em;
        margin-left: 0.5em; }

.foot--modif {
  background-color: #f39233;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px; }
  .foot--modif .copy--modif {
    width: 80%;
    display: flex; }
  .foot--modif .rrss--modif {
    width: 80%;
    display: flex; }

/* practica desafío bucle en lista de Bootstrap - página index*/
.tosty {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 50%; }

.tosty ul li:nth-child(1) {
  color: violet;
  border-radius: 10px;
  font-size: 10px; }

.tosty ul li:nth-child(2) {
  color: violet;
  border-radius: 20px;
  font-size: 20px; }

.tosty ul li:nth-child(3) {
  color: violet;
  border-radius: 30px;
  font-size: 30px; }

.tosty ul li:nth-child(4) {
  color: violet;
  border-radius: 40px;
  font-size: 40px; }

.tosty ul li:nth-child(5) {
  color: violet;
  border-radius: 50px;
  font-size: 50px; }

/* practica desafío bucle - página index*/
