


$colPrincipal:#3394F3; 		/*azulCeleste com*/
$colGeneral:#fcf8e8; 		/*blancoN com*/
$colApoyo1:#F39233;			/*naranja com*/
$colApoyo2:#01c5c4;			/*verde com*/
$colApoyo3:#F33394;			/*rosa com*/
$colComodin:#f3f3f3;		/*gris comodin*/
$colNeutro:#FFFFFF;			/*blanco */

$fuenteTexto:'Quicksand', sans-serif;
$fuenteTitulo:'Kalam';
$fuenteSub:'Chilanka', cursive;


/* *****  CLUB - Inicio     ******************************************************************************************************** */
.fondoClub {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	grid-template-areas:
	"club tablaGanadores";	
	margin: 5% 0 5% 0;	
}

	#club {
		grid-area: club;	
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"inscribete"
		"datosRegistros";
		justify-items: center;	
	}

		#inscribete {
			grid-area: inscribete;
			width: 85%;
			text-align: justify;
			background-color: $colGeneral;
			border: 2px solid $colPrincipal;
			border-radius: 15px;
			font-size: 1.12em;

			#alinCentro4 {
				background-color: $colPrincipal;
				border-radius: 10px;
				margin:2em;
				display: flex;
			}

			#instrucciones1 {
				font-size: 1.12em;
				color: $colPrincipal;
				margin:2em 2em 0 2em;
			}
		}

		#inscribete h4{
			padding: 0.5em 0 0.5em 0;
			margin: auto;
			color: $colGeneral;
		}

		#imgClub{
			width: 100%;
		}

	#datosRegistros2 {
		grid-area: datosRegistros;
		width: 85%;
		background-color: $colGeneral;
		border: 2px solid $colPrincipal;
		border-radius: 15px;
		margin-top: 5%;	

		#alinCentro5 {
			background-color: $colGeneral;
			border-bottom: 2px solid $colPrincipal;
			margin:2em;
			display: flex;

			
		}

			#alinCentro5 h4{
				padding: 0.5em 0 0.5em 0;
				margin: auto;
				color: $colPrincipal;
			}

		#formuClub{
			margin: 0 2em 2em 2em;
			color: $colPrincipal;
			font-size: 1.12em;

			#botonClub {
				display: flex;
				width: 100%;
				margin: 2em 0 0 0;
				
				.botonTexto1 {
					background-color: $colPrincipal;
					color: $colNeutro;
					font-family: $fuenteTexto;
					margin: auto;
					width: 30%;
				}
			}
		}
	}	

	#tablaGanadores {
	grid-area: tablaGanadores;
	background-color: $colGeneral;
	border: 2px solid $colApoyo1;
	padding: 1.5em;
	border-radius: 10px;
	width: 90%;

	#tablas {
		width: 100%;

		.tituloTabla {
			font-family: $fuenteSub;
			font-size: 1.2em;
			color: $colApoyo1;
		}

		.animacionLetra {
			animation-duration: 5s;
			animation-name: animacionLetra;
			animation-iteration-count: infinite;
			}
			@keyframes animacionLetra{
				from {
				transform: rotateY(0deg);
				}
				50%{	
					transform: rotateY(180deg);
				} 
				to {		
					transform: rotateY(360deg);
				}
		}
	}

		#tabla {
			color: $colComodin;

			#tabla tr td{
				padding-left: 2em;
			}

			.color1{
				background-color: $colApoyo2;	
			}

			.color2{
				background-color: $colApoyo3;
			}

			.color3{
				background-color: $colPrincipal;
			}
		}
}


/* *****  CLUB - Fin        ******************************************************************************************************** */
/* */
/* */
/* *****  CONTACTO - Inicio  ***************************************************************************************************** */
.fondoContacto {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
	"formu";
	align-items: center;
	justify-items: center;
		margin: 5% 0 10% 0;	
}

#fondoCt {
	text-align: center;
	margin:auto;
	position:relative; z-index:1;
	
	#imgCtc {
		width: 70%;
	}	
}
	
	#formu {
	grid-area: formu;
	width: 100%;	
	margin:auto;
	position:absolute; z-index:2;  top:11em;
}
		#contContenido {
			padding-top: 280px;	
			padding-bottom: 100px;
			width: 70%;
			padding-left: 50px;
			padding-right: 50px;
			color: $colPrincipal;
			font-family: $fuenteTexto;

			#textoContenido {
				text-align: center;
			}
		}

		#botonContacto {
			display: flex;
			width: 100%;
			margin: 2em 0 0 0;
		
			.botonAzul {
				background-color: $colPrincipal;
				color: $colNeutro;
				font-family: $fuenteTexto;
				margin: auto;
				width: 30%;
			}
		}
	




/* *****    CONTACTO - final ******************************************************************************************************* */
/* */
/* */
/* ######  MAIN - fin ############################################################################################################## */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* ######           FOOTER - inicio           ##################################################################################### */
/* ################################################################################################################################ */


#pieT {
	grid-area: pieT;
	width: 100%; 
	grid-template-rows:1fr 90px;
	grid-template-areas: 
	"mapa"
	"foot"; 
}

.mapa {
	grid-area: mapa;
	width: 100%;
	background-color:$colGeneral;
	background-image: url("./img/44.png");
	background-size: 21%;
	border-radius:10px 10px 0 0;
	border-top: 0.2em solid $colPrincipal;
	width: 100%;
	align-content: center;
	justify-content: center;
	justify-self:center;
	display: flex;
	padding: 0;

	.rayuela{
		width:50%;
		margin: auto;
	}
}


.foot {            
	display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	grid-template-areas: 
	"copy conta rrss"; 

 	.copy {
		grid-area: copy;
		margin: auto; 
	}

		.copy__copyTexto{
			margin-right: auto;
			margin-bottom: 0;
			font-size: 1.1em;
			color: $colNeutro;	  	
		}	
}	


	.conta {	
	width: 100%;
	grid-area: conta;
	margin: auto;

		.conta__contaLink {
		text-decoration: none;
		color: $colComodin;
		text-align: center;

			.conta__contaLink__contaTexto{
				margin-bottom: 0;
				font-size: 1.4em;
				font-family: $fuenteTexto;
			}
		}
	}



	.rrss {
		grid-area: rrss;
		margin: auto;	

		.rrss__rrssLink{
			margin-left: auto;

			.rrss__rrssLink__solo__imgFooter {
				height: 1.7em;	
				margin-left: 0.5em;
			}
		}
	
}


.foot--modif {
		border-top: 10px solid #fcf8e8;
		height: 100px;
		background-color: $colPrincipal;
		font-family: $fuenteTexto;
		padding-bottom: 10px;
		padding-top: 10px; 	

	.copy--modif{	
		width: 80%;
		display: flex;
	}

	.rrss--modif{
		width: 80%;
		display: flex;
	}
}



/* #####  FOOTER - fin  ############################################################################################################ */


		













	



