


$colPrincipal:#3394F3; 		/*azulCeleste com*/
$colGeneral:#fcf8e8; 		/*blancoN com*/
$colApoyo1:#F39233;			/*naranja com*/
$colApoyo2:#01c5c4;			/*verde com*/
$colApoyo3:#F33394;			/*rosa com*/
$colComodin:#f3f3f3;		/*gris comodin*/
$colNeutro:#FFFFFF;			/*blanco */

$fuenteTexto:'Quicksand', sans-serif;
$fuenteTitulo:'Quicksand', sans-serif;
$fuenteSub:'Quicksand', sans-serif;




/* *****    CONTACTO - final ******************************************************************************************************* */
/* */
/* */
/* */
/* ######  MAIN - fin ############################################################################################################## */
/* */
/* */
/* */
/* ################################################################################################################################ */
/* ######           FOOTER - inicio           ##################################################################################### */
/* ################################################################################################################################ */


#pieT {
	grid-area: pieT;
	width: 100%; 
	grid-template-rows:1fr 90px;
	grid-template-areas: 
	"mapa"
	"foot"; 
}

.mapa {
	grid-area: mapa;
	width: 100%;
	background-color:$colGeneral;
	background-image: url("./img/44.png");
	background-size: 21%;
	border-radius:10px 10px 0 0;
	border-top: 0.2em solid $colPrincipal;
	width: 100%;
	align-content: center;
	justify-content: center;
	justify-self:center;
	display: flex;
	padding: 0;

	.rayuela{
		width:50%;
		margin: auto;
	}
}


.foot {            
	display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	grid-template-areas: 
	"copy conta rrss"; 

 	.copy {
		grid-area: copy;
		margin: auto; 
	}

		.copy__copyTexto{
			margin-right: auto;
			margin-bottom: 0;
			font-size: 1.1em;
			color: $colNeutro;	  	
		}	
}	



	.conta {	
	width: 100%;
	grid-area: conta;
	margin: auto;

		.conta__contaLink {
		text-decoration: none;
		color: $colComodin;
		text-align: center;

			.conta__contaLink__contaTexto{
				margin-bottom: 0;
				font-size: 1.4em;
				font-family: $fuenteTexto;
			}
		}
	}



	.rrss {
		grid-area: rrss;
		margin: auto;	

		.rrss__rrssLink{
			margin-left: auto;

			.rrss__rrssLink__solo__imgFooter {
				height: 1.7em;	
				margin-left: 0.5em;
			}
		}
	
}





.foot--modif {
		border-top: 10px solid #fcf8e8;
		height: 100px;
		background-color: $colPrincipal;
		font-family: $fuenteTexto;
		padding-bottom: 10px;
		padding-top: 10px; 	

	.copy--modif{	
		width: 80%;
		display: flex;
	}

	.rrss--modif{
		width: 80%;
		display: flex;
	}
}


/* */
/* #####  FOOTER - fin  ############################################################################################################ */


		













	



