
/*VARIABLES y MIXINs*/ 
/* */
/* */
@import 'importar/variables';
/* */
/* */
/* ################################################################################################################################ */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;  
	font-size: 1rem;
}

/*inicio - Arreglos por desconfiguración al insertar librerías Bootstrap.*/
	img {
		width: 100%;
		max-width: 100%;
		height:auto;
	}

	p{
		padding:0;
		margin: 0;
	}
/*fin - Arreglos por desconfiguración al insertar librerías Bootstrap*/

/*Asimismo, a necesidad, se han adecuado estilos de elementos bootstrap en las respectivas etiquetas
en las hojas SCSS (CSS) */
/* ################################################################################################################################ */

/* Algunos valores se dejan en px de manera intencional a fin de mantener tamaños absolutos en diferentes queries*/

/* ################################################################################################################################ */
/* */
/* */
@import 'importar/header';
/* */
/* */
/* ################################################################################################################################ */
/* */
/* */
@import 'importar/main';
/* */
/* */
/* ################################################################################################################################ */
/* */
/* */
@import 'importar/footer';
/* */
/* */
/* ################################################################################################################################ */
/* */
/* */
@import 'importar/responsive';	
/* */
/* */
/* ################################################################################################################################ */













	



