/* ################################################################################################################################ */
/* #####           HEADER - inicio               ################################################################################## */
/* ################################################################################################################################ */
#contenedorT {	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 140px 1fr auto;
	grid-template-areas: 
	"cabeceraT cabeceraT cabeceraT cabeceraT"
	"contenidoT contenidoT contenidoT contenidoT"
	"pieT pieT pieT pieT";
	width:100%;
	background-color:$colComodin;
	margin: 0 auto 0 auto;
}

	#cabeceraT {
	grid-area: cabeceraT;
	display: grid;
	background-color: $colComodin;	
	grid-template-columns: 100%;
	grid-template-rows: 100px 45px;
	grid-template-areas: 
	"fondo"			
	"segundo";
	}

		#fondo {
			grid-template-rows: 50px 50px;
			background-color: $colGeneral;
			background-image: url("../../img/44.png");
			background-position: 55% -850%;
			background-size: 22%;	
			animation-name: fondoAnimado;
			animation-duration: 30s;

		  	animation-timing-function: ease;
		  	animation-iteration-count: 1;
			grid-area: fondo;
			display: grid;
			grid-template-areas: 
			"tituloPri"
			"tituloSecu";
		}	

			@keyframes fondoAnimado{
				0%{
					background-position: 0 0,
				}
				100%{
					background-position: 55% -850%;
				}
			}

			#tituloPri {	
				grid-area: tituloPri;
				padding-top: 0.8em;					
			}	

				.tituloPri {
					color:  $colGeneral;
					text-shadow:
					0 0 5px rgba(51, 148, 243, 1),
					0 0 5px rgba(51, 148, 243, 1),
					0 0 10px rgba(51, 148, 243,1),
					0 0 20px rgba(23, 170, 247,1),
					0 0 40px rgba(23, 170, 247,1);
					font-size: $fuenteTamH1;
					text-align: center;
					font-weight: 600;
					font-family: $fuenteTitulo;	
				}
			
				#tituloPri a {
					text-decoration: none;
				}

			#tituloSecu {
				grid-area: tituloSecu;
				margin-top: 0.9em;
			}
					.tituloSec {	
						color:$colPrincipal;						
						text-shadow: 0 1px 1px rgba(0,0,0,0.2),
						0 0 4px rgba(252, 248, 232, 1),
						0 0 4px rgba(252, 248, 232, 1),
						0 0 6px rgba(252, 248, 232, 1),
						0 0 6px rgba(252, 248, 232, 1),					
						0 0 10px rgba(252, 248, 232, 1),
						0 0 12px rgba(252, 248, 232, 1),
						0 0 12px rgba(252, 248, 232, 1);						
						font-size: $fuenteTamH2;
						text-align: center;
						font-family: $fuenteSub;
						height: 30px;	
						font-weight: bolder;						
					}

			
				

/* ***** MENUS - INICIO  *********************************************************************************************************** */

#segundo {
	height: 100%;
	width: 100%;
	grid-area: segundo;
	display: grid;
	grid-template-columns: 14% 72% 14%;
	grid-template-rows: 45px;
	grid-template-areas: 
	"ganadoresMes nave sitios";
}
	.segundo {
		margin: 0 auto 0 auto;
	}

	#ganadoresMes { 
		grid-area: ganadoresMes;
		@include anchoAlto;
	}

	#sitios { 
		grid-area: sitios;
		padding:  0;
		@include anchoAlto;
	}

	#ganadoresMes > .btn, #sitios > .btn {
			@include botonDesplegable;			
	}

		.botonGanadores, .botonSitios {
				background-color: $colGeneral;
				@include anchoAlto;
				font-family: $fuenteTexto;
				text-transform: uppercase;
				font-size: 0.75rem;
				color: $colApoyo1;
				font-weight:  bold;				
				border-bottom: 2px solid $colApoyo1;				
			}

			.botonGanadores{
				border-right: 2px solid $colApoyo1;
			}

			.botonSitios {
				border-left: 2px solid $colApoyo1;
			}

		.botonGanadores:hover, .botonSitios:hover{
			background-color: $colApoyo1;
			color: $colNeutro;
			text-shadow: 0 1px 1px rgba(0,0,0,0.2);
		}
	
	.menuUl{
		background-color: $colApoyo1;
		border-radius:10px 10px 10px 10px;
		width: 98%;		
	}

	.menuUl h6, .menuUl li a{
			color: $colNeutro;
			text-align: center;
			font-family: $fuenteTexto;	
			font-size: $fuenteMediana;
		}	
	
	.menuUl li a:hover {
		color: $colApoyo1;
		font-size: $fuenteMediana;
		text-align: center;
		background-color: $colNeutro;
	}

	
#menuPrincipal { 	
	font-family: $fuenteTexto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-decoration: none;
	height: 80%;
	margin: auto auto 0 auto;

	.ini {
		border-bottom: 2px solid $colPrincipal;
		border-right: 2px solid $colPrincipal;
		color: $colPrincipal;
		font-weight: bold;
	}

	.pq {
		border-bottom: 2px solid $colApoyo3;
		border-right: 2px solid $colApoyo3;
		color: $colApoyo3;
		font-weight: bold;
	}

	.est {
		border-bottom: 2px solid $colApoyo2;
		color:$colApoyo2;
		font-weight: bolder;
	}

	.cue {
		border-bottom: 2px solid $colApoyo3;
		border-left: 2px solid $colApoyo3;
		color:$colApoyo3;
		font-weight: bold;
	}

	.clu{
		border-bottom: 2px solid $colPrincipal;
		border-left: 2px solid $colPrincipal;
		color: $colPrincipal;
		font-weight: bold;		
	}	

}
	
	#nave { 
		grid-area: nave;
		@include anchoAlto;	
	} 

	#nave nav a {
		background-color: $colGeneral;
		border-radius: 0 0 10px 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		transition: all 100ms;
		text-transform: uppercase;
		text-decoration: none;
		font-size: $fuenteMediana;
		text-align: center;
		box-shadow: 0 .125em .25em rgba(0,0,0,.075);
	}

	#nave nav .ini:hover, #nave nav .clu:hover  {
		background-color:  $colPrincipal;
		color: $colNeutro;
		text-align: center;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	}

	#nave nav .pq:hover, #nave nav .cue:hover {
		background-color: $colApoyo3;
		color: $colNeutro;
		text-align: center;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	}

	#nave nav .est:hover {
		background-color: $colApoyo2;
		color: $colNeutro;
		text-align: center;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	}

	
	


/* *****   MENUS - fin   *********************************************************************************************************** */
/* */
/* */
/* #####   HEADER - fin       ###################################################################################################### */
